<ion-tabs #tabs>

  <ion-tab-bar slot="bottom">
    
    <!-- Flecha izquierda -->
    <ion-icon 
      *ngIf="showLeftArrow" 
      name="chevron-back-outline" 
      class="scroll-arrow left" 
      [class.ios-overrides]="isIOS()"
      (click)="scrollLeft()">
    </ion-icon>

    <!-- Botones del tab bar -->
    <div class="scrollable-tab-buttons"  [class.ios-overrides]="isIOS()" #scrollContainer (scroll)="onScroll()">

      <ion-tab-button tab="menu-profile" href="/tabs-musician/menu-profile" >
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="menu-history" href="/tabs-musician/menu-history">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>¿Quienes somos?</ion-label>
      </ion-tab-button> 

      <ion-tab-button tab="menu-repertoire" href="/tabs-musician/menu-repertoire">
        <ion-icon name="musical-notes-outline"></ion-icon>
        <ion-label>Repertorio</ion-label>
      </ion-tab-button> 

      <ion-tab-button *ngIf="user?.todayPerformance && user?.todayPerformance.length>0" tab="menu-today-performance" href="/tabs-musician/menu-event" > 
        <ion-icon name="alert-circle-outline"></ion-icon>
        <ion-label>Hoy Tocamos</ion-label>
      </ion-tab-button> 

      <ion-tab-button *ngIf="user?.musicianMarchSolos && user?.musicianMarchSolos.length>0" tab="menu-solo" href="/tabs-musician/menu-solo">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Solos</ion-label>
      </ion-tab-button> 
      
      <ion-tab-button tab="menu-partiture" href="/tabs-musician/menu-partiture" >
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Partituras</ion-label>
      </ion-tab-button> 

      <ion-tab-button tab="menu-multimedia" href="/tabs-musician/menu-multimedia" >      
        <ion-icon name="images-outline"></ion-icon>      
        <ion-label>Multimedia</ion-label>
      </ion-tab-button> 

      <ion-tab-button tab="menu-event" href="/tabs-musician/menu-event" >                 
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Eventos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="menu-suggestion-box" href="/tabs-musician/menu-suggestion-box" >                 
        <ion-icon name="mail-open-outline"></ion-icon>
        <ion-label>Buzón</ion-label>
      </ion-tab-button>

    </div>

    <!-- Flecha derecha -->
    <ion-icon 
      *ngIf="showRightArrow" 
      name="chevron-forward-outline" 
      class="scroll-arrow right" 
      [class.ios-overrides]="isIOS()"
      (click)="scrollRight()">
    </ion-icon>

  </ion-tab-bar>
</ion-tabs>
