ion-tab-bar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    overflow: hidden;
}
  
.scrollable-tab-buttons {
    display: flex;    
    white-space: nowrap;
    scroll-behavior: smooth;
    flex: 1;
    justify-content: space-between;    
    height: 100%;
    padding-left:5px;
    padding-right:5px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}
  
.scrollable-tab-buttons::-webkit-scrollbar {
   display: none; 
}

  ion-tab-button {
    flex: 1 1 auto; /* Distribuye uniformemente los botones */
    text-align: center;
    max-width: 2000px; 
  }
  
  .scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: var(--ion-color-primary);
    z-index: 1;
    cursor: pointer;
  }
  
  .scroll-arrow.left {
    left: 0;
  }
  
  .scroll-arrow.right {
    right: 0;
  }
  