<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>   
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  
  <div class="spacer-super-small"></div>  

  <h2 class="fancy-title custom-modal-title">
    Galería multimedia
  </h2>

  <ion-refresher slot="fixed" (ionRefresh)="refreshVideos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'" class="searchbar-container">
    <ion-searchbar 
      [(ngModel)]="filter.name"
      (ionChange)="onSearchTextChanged($event)"
      placeholder="Buscar" 
      class="custom-searchbar"
    >
    </ion-searchbar>
  
    <ion-item lines="none" class="custom-checkbox-item">     
      <div class="custom-checkbox-item-div">
        <ion-checkbox slot="start" [(ngModel)]="editMode" (ionChange)="onEditMode($event)" class="custom-checkbox"></ion-checkbox>
        <ion-label>Ver modo edición</ion-label>
      </div>   
    </ion-item>
  </div>

  <!-- loop="true" -->
  <ng-container *ngIf="!editMode && videoCategoriesGroupByYear && videoCategoriesGroupByYear.length > 0">

    <ion-item-group *ngFor="let yearGroup of videoCategoriesGroupByYear; let i = index">

      <ion-item slot="header" class="ion-no-padding">                   
        <ion-item-divider class="ion-no-padding anyo-header">
          <ion-avatar slot="start" class="anyo-avatar">
            <ion-img 
              [src]="'data:image/jpeg;base64,' + defaultAnyoImage"                  
            >
            </ion-img>              
          </ion-avatar>
          <ion-label class="anyo-header-label">
            {{ yearGroup.year }}
          </ion-label>                
        </ion-item-divider>
      </ion-item>
      
      <div style="width:100%; height:4px;" class="div-pagination" *ngIf="yearGroup.categories && yearGroup.categories.length==1"></div>
      
      <swiper-container        
        autoplay-delay="3000"
        autoplay-disable-on-interaction="false"
        slides-per-view="1"
        [pagination]="{ clickable: true, type: 'progressbar' }"                
        (swiperslidechange)="onSlideChange($event)"
      >
        <swiper-slide *ngFor="let videoGroupByCategory of yearGroup.categories" (click)="openVideoCategoryModal(videoGroupByCategory)">
          <ion-card class="slide-card">
            <ion-img 
              [src]="videoGroupByCategory.image ? 'data:image/jpeg;base64,' + videoGroupByCategory.image : 'data:image/jpeg;base64,' + defaultVideoCategoryImage"
              alt="Gallery Image"
            ></ion-img>            
            <ion-card-content class="custom-card-content">
              {{ videoGroupByCategory.name }}
            </ion-card-content>
          </ion-card>
        </swiper-slide>
       
      </swiper-container>
    </ion-item-group>
  </ng-container>

  <ion-accordion-group *ngIf="editMode" #accordionGroup [multiple]="true" [value]="expandVideoCategoryList" (ionChange)="accordionGroupChange($event)">

    <ion-list *ngFor="let videoGroupByCategory of videosGroupByCategory; trackBy: trackByVideoCategoryFn" class="ion-no-padding background-transparent" >

      <ion-accordion *ngIf="(profile=='SUPER_ADMIN' || profile=='ADMIN') || (profile!='SUPER_ADMIN' && profile!='ADMIN' && videoGroupByCategory.category.isPublic)" value="{{ videoGroupByCategory.category.id }}" >

        <!-------------------------------->
        <!-- Repite para cada categoria -->
        <!-------------------------------->
        <ion-item slot="header" >                   
          <ion-item-divider class="ion-no-padding video-category-header">
            <ion-avatar slot="start" class="video-category-avatar">
              <ion-img 
                [src]="videoGroupByCategory.category.image ? 'data:image/jpeg;base64,' + videoGroupByCategory.category.image : 'data:image/jpeg;base64,' + defaultVideoCategoryImage"
                (click)="openCategoryImage($event,videoGroupByCategory.category)"
              >
              </ion-img>              
            </ion-avatar>
            <ion-label class="video-category-header-label">              
              <div class="vide-category-info">
                <ion-icon 
                  *ngIf="(profile=='SUPER_ADMIN' || profile=='ADMIN')"
                  [name]="videoGroupByCategory.category.isPublic ? 'checkmark-circle' : 'close-circle'" 
                  [ngClass]="{'published-icon': videoGroupByCategory.category.isPublic, 'unpublished-icon': !videoGroupByCategory.category.isPublic}">
                </ion-icon>
                <span class="video-category-name">{{ videoGroupByCategory.category.name }}</span>                      
              </div>
            </ion-label>               
            <div class="video-category-header-buttons" class="video-category-header-div-fab" > 
              <ion-fab-button *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'" fill="clear" color="warning" size="small" (click)="updateVideoCategory($event,videoGroupByCategory.category)" class="video-category-header-fab">
                <ion-icon name="pencil-outline" class="video-category-header-fab-icon"></ion-icon>        
              </ion-fab-button>   
              <ion-fab-button *ngIf="!videoGroupByCategory.videos && (profile=='SUPER_ADMIN' || profile=='ADMIN')" fill="clear" color="warning" size="small" (click)="confirmDeleteVideoCategory($event,videoGroupByCategory.category)" class="video-category-header-fab">
                <ion-icon name="trash-outline" class="video-category-header-fab-icon"></ion-icon>        
              </ion-fab-button>                             
            </div>
          </ion-item-divider>
        </ion-item>

        <!---------------------------->
        <!------ Para cada video ----->
        <!---------------------------->
        <ion-list slot="content" class="video-list">
          <ion-grid class="video-grid">            
            <ion-row>                           
              <ion-col size="4" class="column-padding" *ngFor="let video of videoGroupByCategory.videos">
                <ion-card class="video-card small-card" (click)="viewVideo(video,video.youtubeId)">
                  <!-- Imagen del Video -->
                  <ion-img [src]="getThumbnail(video.youtubeId)"></ion-img>
              
                  <!-- Botones flotantes para Editar y Eliminar -->
                  <div *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'" class="floating-buttons">
                    <ion-button color="primary" size="small" (click)="updateVideo(video, $event)">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button color="primary" size="small" (click)="confirmDeleteVideo(video, $event)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </div>
              
                  <!-- Título del Video -->
                  <ion-card-header>
                    <ion-card-title>{{ video.name }}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>

            </ion-row>
          </ion-grid>
        </ion-list>

      </ion-accordion>
    </ion-list>   
  </ion-accordion-group>  


  <!-- separador -->
  <div class="spacer"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>     
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  
 
  <!-- botones finales -->    
  <ion-fab *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'" slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>  
  
    <ion-fab-list side="start">
      <ion-fab-button *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'" color="warning" (click)="createVideo()">
        <ion-icon name="videocam-outline"></ion-icon>         
      </ion-fab-button>
      <ion-fab-button *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'" color="warning" (click)="createVideoCategory()">
        <ion-icon name="duplicate-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="expandAll()">
        <ion-icon name="chevron-expand-outline"></ion-icon>        
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="collapseAll()">
        <ion-icon name="chevron-collapse-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
   
</ion-content>
