<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let video of videos">
        <div class="video-thumbnail" (click)="openModal(video.id)">
          <img [src]="getThumbnail(video.id)" />
          <ion-label>{{ video.title }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
