<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="menu-history" href="/tabs-guest/menu-history">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>¿Quienes somos?</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="menu-repertoire" href="/tabs-guest/menu-repertoire">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Repertorio</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="menu-multimedia" href="/tabs-guest/menu-multimedia" >      
      <ion-icon name="images-outline"></ion-icon>      
      <ion-label>Multimedia</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>

</ion-tabs>
