<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="confirm()" #eventForm="ngForm">    

    <!---------------------------------->
    <!------ CALENDARIO EVENTOS -------->
    <!---------------------------------->
    <h2 class="fancy-title custom-modal-title">
      Eventos Musico
    </h2>

    <ion-card class="musician-card background-white">
      <ion-item lines="none">
        <ion-avatar slot="start" class="musician-avatar">                  
          <ion-img 
            [src]="showImage">
          </ion-img> 
        </ion-avatar>
        <ion-label>
          <h2>{{ musician.name }} {{ musician.surname }}</h2>
          <p>{{ musician.voice.name }}</p>          
        </ion-label>
      </ion-item>
    </ion-card> 

    <div class="spacer-super-small"></div>  

    <!-- Contenedor de calendario con estilo de tarjeta -->
    <div class="calendar-container">
      <ion-calendar
        [(ngModel)]="selectedDate"
        [ngModelOptions]="{standalone: true}"
        [type]="'string'"
        [format]="'YYYY-MM-DD'"
        [options]="calendarOptions"
        (change)="onDateChange($event)"
        (monthChange)="onMonthChange($event)"
      >
      </ion-calendar>
    </div>
  
    <!-- PORCENTAJES DE ASISTENCIA -->    
    <!--<ion-card class="attendance-card background-white" *ngIf="musicianEventListResponse && musicianEventListResponse.events && musicianEventListResponse.events.length>0 && musicianEventListResponse.musicianEventAssistStatistic"> -->
    <ion-card class="attendance-card background-white" *ngIf="musicianEventListResponse && musicianEventListResponse.musicianEventAssistStatistic && showGlobalStatistics"> 
      <ion-card-header>
        <ion-card-title>Estadísticas Asistencia (hasta hoy)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <!-- Asistencia mes actual -->
            <!--<ion-col size="12" size-md="4" *ngIf="showMonthStatistics && musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents>=0">-->
            <ion-col size="12" size-md="4" *ngIf="musicianEventListResponse && musicianEventListResponse.musicianEventAssistStatistic && showMonthStatistics">
              <div class="statistic-container">
                <div class="stat-header">                  
                  <ion-icon name="stats-chart" class="stat-icon success"></ion-icon>
                  <ion-text class="stat-title">Mes Actual ({{strSelectedMonth}})</ion-text>
                  <ion-text class="stat-percentage">{{ musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents }}%</ion-text>
                </div>
                <ion-progress-bar 
                  [value]="musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents / 100" 
                  [color]="getProgressColorMusicianPercentageAssistEvents(musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents)"
                  class="attendance-progress">
                </ion-progress-bar>                
              </div>
            </ion-col>

            <!-- Asistencia año actual -->
            <!--<ion-col size="12" size-md="4" *ngIf="musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents>=0">-->
            <ion-col size="12" size-md="4" *ngIf="musicianEventListResponse && musicianEventListResponse.musicianEventAssistStatistic && showYearStatistics">
              <div class="statistic-container">
                <div class="stat-header">
                  <ion-icon name="stats-chart" class="stat-icon warning"></ion-icon>
                  <ion-text class="stat-title">Año Actual ({{strSelectedYear}})</ion-text>
                  <ion-text class="stat-percentage">{{ musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents }}%</ion-text>
                </div>
                <ion-progress-bar 
                  [value]="musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents / 100" 
                  [color]="getProgressColorMusicianPercentageAssistEvents(musicianEventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents)"
                  class="attendance-progress">
                </ion-progress-bar>                
              </div>
            </ion-col>

            <!-- Asistencia historica -->
            <!--<ion-col size="12" size-md="4" *ngIf="musicianEventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents>=0">-->
            <ion-col size="12" size-md="4" *ngIf="musicianEventListResponse && musicianEventListResponse.musicianEventAssistStatistic && showHistoricStatistics">
              <div class="statistic-container">
                <div class="stat-header">
                  <ion-icon name="stats-chart" class="stat-icon danger"></ion-icon>
                  <ion-text class="stat-title">Histórica</ion-text>
                  <ion-text class="stat-percentage">{{ musicianEventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents }}%</ion-text>
                </div>
                <ion-progress-bar 
                  [value]="musicianEventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents / 100" 
                  [color]="getProgressColorMusicianPercentageAssistEvents(musicianEventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents)"
                  class="attendance-progress">
                </ion-progress-bar>                
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <div class="spacer"></div>  

    <ion-button 
          type="submit"           
          [disabled]="eventForm.invalid"
          expand="block">
          Volver
    </ion-button>

  </form>
</ion-content>