<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="fancy-title custom-modal-title">
    Solistas 
  </h2>

  <div class="chart-container" [style.height.px]="dynamicHeight">
    <canvas baseChart
            [data]="chartData"
            [type]="chartType"
            [options]="chartOptions"
            [plugins]="chartPlugins"
      >
    </canvas>
  </div>

</ion-content>