ion-label.ion-color-primary {
    color: #B22222;
    font-size: 1rem;
    font-weight: bold;  
    text-shadow: 1px 1px 2px #FFFFFF; /* Sombra leve */
}

ion-item.image-selector {
    display: flex;
    align-items: center;
}

.image-label {
    display: flex;
    align-items: center;
    padding-bottom:7px;
}

.preview-image {
    width: 40px;  
    height: 40px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-left: 30px;   
}

.no-margin-right {
    margin-right: 0px;
}

.margin-left {
    margin-left: 6px;
}

.custom-item {
    margin-top: 7px;  
}

.custom-ion-button-image {
    margin-bottom: 11px;  
}
