<ion-header [translucent]="true">
  <ion-toolbar> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding musician-menu-content"  [fullscreen]="false">


  <!--  
  <div class="user-info">
    <ion-avatar slot="start">
      <img *ngIf="user?.profile === 'SUPER_ADMIN'" [src]="user.userDetail?.image ? 'data:image/jpeg;base64,' + user.userDetail?.image : 'data:image/jpeg;base64,' + defaultUserImage" >
      <img *ngIf="user?.profile === 'ADMIN'" [src]="user.userDetail?.image ? 'data:image/jpeg;base64,' + user.userDetail?.image : 'data:image/jpeg;base64,' + defaultUserImage" >
      <img *ngIf="user?.profile === 'MUSICO'" [src]="user.musician?.image ? 'data:image/jpeg;base64,' + user.musician.image : 'data:image/jpeg;base64,' + defaultMusicianImage" >
      <img *ngIf="user?.profile === 'INVITADO'" [src]="'data:image/jpeg;base64,' + defaultMusicianImage" >
    </ion-avatar>
    <div class="user-details">
      <h2 *ngIf="user?.profile === 'SUPER_ADMIN'">{{user.username}} ({{user.userDetail?.name}} {{user.userDetail?.surname}})</h2>
      <h2 *ngIf="user?.profile === 'ADMIN'">{{user.username}} ({{user.userDetail?.name}} {{user.userDetail?.surname}})</h2>
      <h2 *ngIf="user?.profile === 'MUSICO'">{{user.musician?.name}} {{user.musician?.surname}}</h2>
      <h2 *ngIf="user?.profile === 'INVITADO'">INVITADO</h2>
      <p *ngIf="user?.profile === 'SUPER_ADMIN' && user?.userDetail?.email"> {{user?.userDetail?.email}}</p>
      <p *ngIf="user?.profile === 'ADMIN' && user?.userDetail?.email"> {{user?.userDetail?.email}}</p>
      <p *ngIf="user?.profile === 'MUSICO' && user?.musician?.email"> {{user?.musician?.email}}</p>      
      <p *ngIf="user?.profile === 'SUPER_ADMIN' && user?.userDetail?.municipality && user?.userDetail?.province">{{user?.userDetail?.municipality}} ({{user?.userDetail?.province}})</p>
    </div>
  </div>

  <div class="spacer-small"></div>   
  
  <ion-list>
    <ion-label class="section-label">Menu</ion-label>
    <div class="spacer-small"></div>   
    <ion-item button>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label>Inbox</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="paper-plane-outline"></ion-icon>
      <ion-label>Outbox</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="archive-outline"></ion-icon>
      <ion-label>Archive</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      <ion-label>Trash</ion-label>
    </ion-item>
    <ion-item button>
      <ion-icon slot="start" name="warning-outline"></ion-icon>
      <ion-label>Spam</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-label class="section-label">Labels</ion-label>
    <ion-item button>
      <ion-icon slot="start" name="bookmark-outline"></ion-icon>
      <ion-label>Family</ion-label>
    </ion-item>  
  </ion-list>
  
  
  -->
  
  <!---------------------------------------------->
  <!-------  PROFILE SUPER ADMINISTRADOR  -------->
  <!---------------------------------------------->
  <ion-grid *ngIf="user?.profile === 'SUPER_ADMIN'">

      <!-- Sección de información del usuario -->
      <div class="user-info">
        <ion-avatar slot="start">
          <img [src]="user.userDetail?.image ? 'data:image/jpeg;base64,' + user.userDetail?.image : 'data:image/jpeg;base64,' + defaultUserImage" >          
        </ion-avatar>
        <div class="user-details">
          <h2 *ngIf="user?.userDetail?.name && user?.userDetail?.surname">{{user.userDetail?.name}} {{user.userDetail?.surname}}</h2>
          <h2 *ngIf="!user?.userDetail?.name || !user?.userDetail?.surname">{{user.username}}</h2>
          <p *ngIf="user?.userDetail?.email"> {{user?.userDetail?.email}}</p>
          <p *ngIf="user?.userDetail?.municipality && user?.userDetail?.province">{{user?.userDetail?.municipality}} ({{user?.userDetail?.province}})</p>
        </div>
      </div>

      <div class="spacer-small"></div>   

      <!-- Opciones del menú -->
      <ion-list>
        <ion-label class="section-label">Menu</ion-label>
        <div class="spacer-small"></div>   

        <ion-item button (click)="onTabSelect('menu-user')" >
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>Usuarios</ion-label>
        </ion-item>

        <ion-item button (click)="onTabSelect('menu-musician')" >
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>Musicos</ion-label>
        </ion-item>

        <ion-item button (click)="onTabSelect('menu-partiture')" >
          <ion-icon slot="start" name="albums-outline"></ion-icon>
          <ion-label>Partituras</ion-label>
        </ion-item>
        
        <ion-item button (click)="onTabSelect('menu-inventory')" >
          <ion-icon slot="start" name="shirt-outline"></ion-icon>
          <ion-label>Inventario</ion-label>
        </ion-item>

        <ion-item button (click)="onTabSelect('menu-notification')" >
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-item>

        <ion-item button (click)="onTabSelect('menu-multimedia')" >
          <ion-icon slot="start" name="images-outline"></ion-icon>
          <ion-label>Multimedia</ion-label>
        </ion-item>

        <ion-item button (click)="onTabSelect('menu-calendar')" >
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label>Calendario</ion-label>
        </ion-item>
      </ion-list>

      <!--<ion-list>
        <ion-label class="section-label">Labels</ion-label>
        <ion-item button>
          <ion-icon slot="start" name="bookmark-outline"></ion-icon>
          <ion-label>Family</ion-label>
        </ion-item>        
      </ion-list>    
      -->
    
  </ion-grid>

  <!---------------------------------------------->
  <!-------  PROFILE ADMINISTRADOR  -------------->
  <!---------------------------------------------->
  <ion-grid *ngIf="user?.profile === 'ADMIN'">

    <!-- Sección de información del usuario -->
    <div class="user-info">
      <ion-avatar slot="start">
        <img  [src]="user.userDetail?.image ? 'data:image/jpeg;base64,' + user.userDetail?.image : 'data:image/jpeg;base64,' + defaultUserImage" >      
      </ion-avatar>
      <div class="user-details">
        <h2 *ngIf="user?.userDetail?.name && user?.userDetail?.surname">{{user.userDetail?.name}} {{user.userDetail?.surname}}</h2>
        <h2 *ngIf="!user?.userDetail?.name || !user?.userDetail?.surname">{{user.username}}</h2>                
        <p *ngIf="user?.userDetail?.municipality && user?.userDetail?.province">{{user?.userDetail?.municipality}} ({{user?.userDetail?.province}})</p>
      </div>
    </div>

    <div class="spacer-small"></div>   

    <!-- Opciones del menú -->
    <ion-list>
      <ion-label class="section-label">Menu</ion-label>
      <div class="spacer-small"></div>   

      <ion-item button (click)="onTabSelect('menu-musician')" >
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Musicos</ion-label>
      </ion-item>

      <ion-item button (click)="onTabSelect('menu-partiture')" >
        <ion-icon slot="start" name="albums-outline"></ion-icon>
        <ion-label>Partituras</ion-label>
      </ion-item>
      
      <ion-item button (click)="onTabSelect('menu-inventory')" >
        <ion-icon slot="start" name="shirt-outline"></ion-icon>
        <ion-label>Inventario</ion-label>
      </ion-item>

      <ion-item button (click)="onTabSelect('menu-notification')" >
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-item>

      <ion-item button (click)="onTabSelect('menu-multimedia')" >
        <ion-icon slot="start" name="images-outline"></ion-icon>
        <ion-label>Multimedia</ion-label>
      </ion-item>

      <ion-item button (click)="onTabSelect('menu-calendar')" >
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-label>Calendario</ion-label>
      </ion-item>
    </ion-list>

    <!--<ion-list>
      <ion-label class="section-label">Labels</ion-label>
      <ion-item button>
        <ion-icon slot="start" name="bookmark-outline"></ion-icon>
        <ion-label>Family</ion-label>
      </ion-item>        
    </ion-list>    
    -->
  
  </ion-grid>

  <!--------------------------------------->
  <!-------  PROFILE MUSICO  -------------->
  <!--------------------------------------->
  <ion-grid *ngIf="user?.profile === 'MUSICO'">

    <!-- Imagen del músico -->    
    <div class="musician-image-container">
      <img 
        [src]="user.musician?.image ? 'data:image/jpeg;base64,' + user.musician.image : 'data:image/jpeg;base64,' + defaultMusicianImage" class="musician-image-small"        
      >
    </div>

    <!-- Datos del músico -->
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <h2 class="musician-name">{{user.musician?.name}} {{user.musician?.surname}}</h2>
        </ion-col>
      </ion-row>

      <ion-row class="ion-text-left">
        <ion-col>
          <p><strong>Dni:</strong> &nbsp;{{user.musician?.dni}}</p>
          <p><strong>Dirección:</strong> &nbsp;{{user.musician?.direction}}</p>
          <p><strong>Municipio:</strong> &nbsp;{{user.musician?.municipality}}</p>
          <p><strong>Provincia:</strong> &nbsp;{{user.musician?.province}}</p>
          <p><strong>Email:</strong> &nbsp;{{user.musician?.email}}</p>
          <p><strong>Voz:</strong> &nbsp;{{user.musician?.voice?.name}}</p>

        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>


  <!----------------------------------------->
  <!-------  PROFILE INVITADO  -------------->
  <!----------------------------------------->
  <ion-grid *ngIf="user?.profile === 'INVITADO'">
    
    <!-- Imagen del músico -->    
    <div class="musician-image-container">
      <img 
        [src]="'data:image/jpeg;base64,' + defaultMusicianImage" class="musician-image-small"        
      >
    </div>

    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <h2 class="musician-name">INVITADO</h2>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-grid>


  <!--------------------------------------->
  <!-------------  COMUN  ----------------->
  <!--------------------------------------->
  <ion-grid *ngIf="user?.profile">
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button expand="block" (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Cerrar sesion
        </ion-button>    
      </ion-col>            
    </ion-row>
  </ion-grid>

  <div class="spacer"></div>   

  <div class="spacer"></div>   


</ion-content>