musician-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
  
.musician-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
  
.musician-image-small {
    width: 200px; 
    height: 200px;
    border-radius: 50%; 
    padding: 5px;
    object-fit: cover;
    border: 1px solid var(--ion-color-primary); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); 
}
  
.musician-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    font-family: 'Dancing Script', cursive;     
    text-align: center; 
    letter-spacing: 1px;    
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.user-description {
    // cursiva
    font-size: 0.9rem;
    color: #666;
    margin: 15px 0 5px 0;
    white-space: normal !important;
    overflow: visible !important;    
}
  
ion-col p strong {
    color: #B22222;
    font-size: 1rem;    
    text-shadow: 1px 1px 2px #FFFFFF;   
}

ion-row {
    margin-top: 10px;
}
  
ion-col p {
    font-size: 1rem;
    color: #222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-icon {
    margin-right: 20px;
}

ion-item[button] {
    width: 95%;    
  }



/**********************************************************/


.user-info {
    display: flex;
    align-items: center;
    padding: 10px;
}
  
ion-avatar {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 50%; 
    object-fit: cover;
    border: 1px solid var(--ion-color-primary); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8); 
    padding: 2px;
}
  
.user-details {
    display: flex;
    flex-direction: column;
}
  
.user-details h2 {
    font-size: 1.2rem;
    margin: 0;
}
  
.user-details p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--ion-color-medium);
}
  
.section-label {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 16px;
    margin-top: 16px;
    color: var(--ion-color-medium);
}


/*

  
 .section-label {
    font-weight: bold;
    padding-left: 16px;
    margin-top: 16px;
    color: var(--ion-color-medium);
 }*/