<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>-->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-container">
    <ng-container *ngIf="videoLink">
      <iframe [src]="videoLink" allowfullscreen></iframe>
    </ng-container>
  </div>
</ion-content>