<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Mi lista de la compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="refreshItems($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="filter.description" (ionChange)="filterItems()" placeholder="Buscar">
  </ion-searchbar>

  <ion-item-group *ngFor="let category of categories">
    <ion-item-divider>
      <ion-label>{{category.name}}</ion-label>
    </ion-item-divider>

    <ion-item-sliding *ngFor="let item of items | filterItems: category">
      <ion-item>
        <ion-label [ngClass]="{'active':item.status}">
          <h2>{{item.description}}</h2>
          <p>{{item.quantity + ' ' + (item.unit ? item.unit : '')}}</p>
        </ion-label>
        <ion-checkbox (ionChange)="changeStatus(item)" [checked]="item.status"> </ion-checkbox>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="warning" (click)="updateItem(item)">
          <ion-icon color="light" slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="confirmDeleteItem(item)">
          <ion-icon color="light" slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
    </ion-item-sliding>
    
  </ion-item-group>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="createItem()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>  
  </ion-fab>
</ion-content>
