.custom-h2{
    margin-top: 12px;
  }
  
  ion-label.ion-color-primary {
    color: #B22222;
    font-size: 1rem;
    font-weight: bold;  
    text-shadow: 1px 1px 2px #FFFFFF; /* Sombra leve */
  }
  
  ion-item.image-selector {
    display: flex;
    align-items: center;
  }

  .image-label {
    display: flex;
    align-items: center;
    padding-bottom:7px;
  }
  
  .preview-image {
    width: 40px;  
    height: 40px; 
    border-radius: 50%;
    object-fit: cover; 
    margin-left: 30px;   
  }
  
  .custom-datetime-button {
    border: 1px solid var(--ion-color-primary); 
    border-bottom: 3px solid var(--ion-color-primary); 
    border-radius: 8px;
    padding: 0px 0px;  
    margin-bottom: 5px;  
  }
  
  .custom-item {
    margin-top: 7px;  
  }
  
  .custom-label {
    padding-bottom: 3px;  
  }
  
  .custom-label-role {
    padding-bottom: 5px;  
  }
  
  .custom-select {
    padding-bottom: 17px;   
    min-width: 80%;  
    text-align: right;
  }
  
  .custom-icon {
    padding-bottom: 5px;  
  }
  
  .custom-ion-button-image {
    margin-bottom: 11px;  
  }
  
  /*********************************************************************/
  /************ Estilos para el selecct ********************************/
  /*********************************************************************/
  ::ng-deep .alert-wrapper {
    width: 400px !important;  
    max-width: 90% !important; 
  }

  .custom-label-textarea {
    font-size: 1.5rem !important;
  }
  
  .custom-textarea {
    margin-top:25px;
    border: 2px solid #4d4d4d; 
    border-radius: 10px;        
    padding: 10px;              
    background-color: #f9f9f9; 
    font-size: 16px;            
    
    /* Sombra suave en gris oscuro */
    box-shadow: 0 0 10px rgba(77, 77, 77, 0.2); /* Sombra en gris oscuro, sutil */
    
    /* Asegurando visibilidad */
    display: block;              
    width: 100%;                
    min-height: 200px;           
    visibility: visible;        
    opacity: 1;                 
  }
  
  .custom-textarea:focus {
    box-shadow: 0 0 10px rgba(77, 77, 77, 0.4); /* Sombra más pronunciada al hacer foco */
  }
