<ion-tabs #tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="menu-musician" href="/tabs-admin/menu-musician" >
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Musicos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu-partiture" href="/tabs-admin/menu-partiture" class="hide-tab">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Partituras</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="menu-inventory" href="/tabs-admin/menu-inventory" >
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="menu-notification" href="/tabs-admin/menu-notification" class="hide-tab" >
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="menu-multimedia" href="/tabs-admin/menu-multimedia" >      
      <ion-icon name="images-outline"></ion-icon>      
      <ion-label>Multimedia</ion-label>
    </ion-tab-button> 

    <ion-tab-button tab="menu-event" href="/tabs-admin/menu-event" >                 
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button> 

  </ion-tab-bar>

</ion-tabs>
