ion-label.ion-color-primary {
    color: #B22222;
    font-size: 1rem;
    font-weight: bold;  
    text-shadow: 1px 1px 2px #FFFFFF; /* Sombra leve */
}

.custom-item {
    margin-top: 7px;  
}

.custom-label {
    padding-bottom: 3px;  
}

.custom-datetime-button {
    border: 1px solid var(--ion-color-primary); 
    border-bottom: 3px solid var(--ion-color-primary); 
    border-radius: 8px;
    padding: 0px 0px;  
    margin-bottom: 5px;  
}

.custom-icon {
    padding-bottom: 5px;  
}

.custom-icon-2 {
    padding-bottom: 8px;  
}

// fondo del ion-datetime
ion-datetime-button::part(native) {
    background-color: transparent;   
}

::ng-deep .alert-wrapper {
    width: 400px !important;  
    max-width: 90% !important; 
}

.custom-select {
    padding-bottom: 17px;    
    min-width: 80%;  
    text-align: right;
}

.custom-select-2 {
    padding-bottom: 17px;    
    min-width: 60%;  
    text-align: right;
}

.custom-label-voice {
    padding-bottom: 5px;  
}

.custom-label-displacement-bus {
    padding-bottom: 0px;  
}

.custom-check {
    margin-top:0px;
    margin-bottom:0px;
    margin-right:2px;
}

.custom-label-textarea {
    font-size: 1.3em !important;
}
  
.custom-textarea {
    margin-top:20px;
    border: 2px solid #4d4d4d; 
    border-radius: 10px;        
    padding: 10px;              
    background-color: #f9f9f9; 
    font-size: 16px;            
  
    /* Sombra suave en gris oscuro */
    box-shadow: 0 0 10px rgba(77, 77, 77, 0.2); /* Sombra en gris oscuro, sutil */
  
    /* Asegurando visibilidad */
    display: block;              
    width: 100%;                
    min-height: 100px;           
    visibility: visible;        
    opacity: 1;                 
}

ion-item.image-selector {
    display: flex;
    align-items: center;
}
  
.image-label {
    display: flex;
    align-items: center;
    padding-bottom:7px;
}
  
.preview-image {
    width: 40px;  
    height: 40px; 
    object-fit: cover; 
    margin-left: 30px;   
}

.custom-ion-button-image {
    margin-bottom: 11px;  
}
  
.no-pointer {
    pointer-events: none;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    //animation: fadeIn 0.5s ease-in-out;
    animation: fadeIn 1s ease-in-out; /* Duración de 1 segundo */
}
  
.styled-image {
    max-width: 50%;
    max-height: 80vh;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    transform: scale(0.9); /* Inicialmente más pequeña */
    //animation: zoomIn 0.5s ease-in-out forwards;
    animation: zoomIn 1s ease-in-out forwards; /* Duración de 1 segundo */
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
  
@keyframes zoomIn {
    from {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
}

.custom-label-container-voices {
    margin-left: 16px;
    margin-top: 14px;
    margin-bottom: 4px;
}

.selected-voices {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
  
ion-chip {
    margin:0px;
    font-size: 0.7rem;
    padding: 5px 5px;
    --background: #ffe6e6; /* Rojo muy clarito */
    border-radius: 2px;
    height: 20px;
}
  
.chip-label {
    font-weight: bold;
}

.custom-divider {
    min-height: 10px;
    margin-left: 16px;    
    width: calc(100% - 32px) !important;
}
  
  
  
  