<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="confirm()" #repertoireMarchForm="ngForm">    
    
    <!--------------------------->
    <!----------- SOLLOS -------->
    <!--------------------------->
    <h2 class="fancy-title custom-h2">
      Solos
    </h2>

    <ion-list>
      <div *ngFor="let solo of repertoireMarch.repertoireMarchSolos; let i = index" class="ion-margin-bottom">
        <ion-card class="solo-card">     
          <!-- Botón para eliminar posicionado en la esquina superior derecha -->
          <div class="remove-button">
            <ion-button color="danger" size="small" (click)="removeSolo(i)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>     
          <ion-card-content class="ion-no-padding custom-ion-card-solo">
            <!-- Nombre del Solo -->
            <ion-item class="ion-no-padding custom-item-solo">
              <ion-label color="primary" position="floating" class="custom-label">
                Nombre
              </ion-label>
              <ion-input
                type="text"
                name="soloName{{i}}"
                placeholder="Nombre del solo"
                required
                [(ngModel)]="solo.name"
                #soloNameInput="ngModel"
              ></ion-input>
            </ion-item>
            <div class="ion-no-padding custom-item-solo" *ngIf="soloNameInput.invalid && soloNameInput.touched">
              <ion-text color="danger" *ngIf="soloNameInput.errors['required']">El nombre del solo es obligatorio.</ion-text>
            </div>

            <!-- Orden del Solo -->
            <ion-item class="ion-no-padding custom-item-solo">
              <ion-label color="primary" position="floating" class="custom-label">
                Orden
              </ion-label>
              <ion-input
                type="number"
                name="soloOrder{{i}}"
                placeholder="Orden del solo"
                required
                [(ngModel)]="solo.order"
                #soloOrderInput="ngModel"
              ></ion-input>
            </ion-item>
            <div class="ion-no-padding custom-item-solo" *ngIf="soloOrderInput.invalid && soloOrderInput.touched">
              <ion-text color="danger" *ngIf="soloOrderInput.errors['required']">El orden es obligatorio.</ion-text>              
            </div>

            <div class="spacer-small"></div>


            <!------------------------------>
            <!---- SOLISTAS PRINCIPALES ---->
            <!------------------------------>
            <ion-item lines="none" class="ion-no-padding custom-item-solo">
              <ion-label class="custom-label">Solistas Principales</ion-label>
              <ion-button color="warning" size="small" slot="end" (click)="openSelectMusiciansModal('main', i)">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>

            <!-- Lista reordenable de solistas principales -->
            <ion-reorder-group disabled="false" (ionItemReorder)="reorderMainSoloists($event, i)">
              <ion-item *ngFor="let soloist of solo.mainSoloists; let j = index" class="ion-no-padding custom-item-list-solo">
                <ion-button fill="clear" color="danger" size="small" (click)="removeMainSoloist(i, j)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
                <ion-label class="initcap custom-ion-label-soloist">{{ soloist.musicianName | lowercase }}</ion-label>
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>

            <!------------------------------>
            <!---- SOLISTAS SUPLENTES ------>
            <!------------------------------>
            <ion-item lines="none" class="ion-no-padding custom-item-solo">
              <ion-label class="custom-label">Solistas Suplentes</ion-label>
              <ion-button color="warning" size="small" slot="end" (click)="openSelectMusiciansModal('secondary', i)">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>

            <!-- Lista reordenable de solistas principales -->
            <ion-reorder-group disabled="false" (ionItemReorder)="reorderSecondarySoloists($event, i)">
              <ion-item *ngFor="let soloist of solo.secondarySoloists; let j = index" class="ion-no-padding custom-item-list-solo">
                <ion-button fill="clear" color="danger" size="small" (click)="removeSecondarySoloist(i, j)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
                <ion-label class="initcap">{{ soloist.musicianName | lowercase }}</ion-label>                
                <ion-reorder slot="end"></ion-reorder>
              </ion-item>
            </ion-reorder-group>

            
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>

    <!--<div class="spacer"></div>   -->
    <div class="spacer"></div>  

    <ion-button 
          type="submit"           
          [disabled]="repertoireMarchForm.invalid"
          expand="block">
        {{updating ? 'Actualizar': 'Crear'}} marcha
    </ion-button>    
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addSolo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>