<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <ion-refresher *ngIf="viewCalendar && profile!=='INVITADO'" slot="fixed" (ionRefresh)="refreshEvents($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Título con estilo personalizado -->
  <h2 *ngIf="profile!=='INVITADO' && !isTodayPerformance" class="fancy-title custom-modal-title">
    Calendario de eventos
  </h2>

  <h2 *ngIf="profile==='INVITADO' && !isTodayPerformance" class="fancy-title custom-modal-title">
    Actuaciones
  </h2>

  <h2 *ngIf="isTodayPerformance" class="fancy-title custom-modal-title">
    Hoy Tocamos
  </h2>

  <!-- Selector de filtro justo debajo del título -->
  <div *ngIf="profile!=='INVITADO' && !isTodayPerformance" class="filter-container">
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" value="calendar">
      <ion-segment-button value="calendar">
        <ion-label>Calendario</ion-label>
      </ion-segment-button>

      <ion-segment-button value="performance">
        <ion-label>Actuaciones</ion-label>
      </ion-segment-button>          
    </ion-segment>
  </div>

  <!-------------------------->
  <!---- Vista calendario ---->   
  <!--------------------------> 
  <div *ngIf="viewCalendar && profile!=='INVITADO'">
    <!-- Contenedor de calendario con estilo de tarjeta -->
    <div class="calendar-container">
      <ion-calendar
        [(ngModel)]="selectedDate"
        [type]="'string'"
        [format]="'YYYY-MM-DD'"
        [options]="calendarOptions"
        (change)="onDateChange($event)"
        (monthChange)="onMonthChange($event)"
      >
      </ion-calendar>
    </div>

    <!-- PORCENTAJES DE ASISTENCIA PARA MUSICOS -->    
    <!--<ion-card class="attendance-card background-white" *ngIf="eventListResponse && eventListResponse.events && eventListResponse.events.length>0 && eventListResponse.musicianEventAssistStatistic"> -->
    <ion-card class="attendance-card background-white" *ngIf="eventListResponse && eventListResponse.musicianEventAssistStatistic && showGlobalStatistics"> 
      <ion-card-header>
        <ion-card-title>Estadísticas Asistencia (hasta hoy)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <!-- Asistencia mes actual -->
            <!--<ion-col size="12" size-md="4" *ngIf="eventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents>=0">-->
            <ion-col size="12" size-md="4" *ngIf="eventListResponse && eventListResponse.musicianEventAssistStatistic && showMonthStatistics">
              <div class="statistic-container">
                <div class="stat-header">                  
                  <ion-icon name="stats-chart" class="stat-icon success"></ion-icon>
                  <ion-text class="stat-title">Mes Actual ({{strSelectedMonth}})</ion-text>
                  <ion-text class="stat-percentage">{{ eventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents }}%</ion-text>
                </div>
                <ion-progress-bar 
                  [value]="eventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents / 100" 
                  [color]="getProgressColorMusicianPercentageAssistEvents(eventListResponse.musicianEventAssistStatistic.musicianCurrentMonthPercentageAssistEvents)"
                  class="attendance-progress">
                </ion-progress-bar>                
              </div>
            </ion-col>

            <!-- Asistencia año actual -->
            <!--<ion-col size="12" size-md="4" *ngIf="eventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents>=0">-->
            <ion-col size="12" size-md="4" *ngIf="eventListResponse && eventListResponse.musicianEventAssistStatistic && showYearStatistics">
              <div class="statistic-container">
                <div class="stat-header">                  
                  <ion-icon name="stats-chart" class="stat-icon warning"></ion-icon>
                  <ion-text class="stat-title">Año Actual ({{strSelectedYear}})</ion-text>
                  <ion-text class="stat-percentage">{{ eventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents }}%</ion-text>
                </div>
                <ion-progress-bar 
                  [value]="eventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents / 100" 
                  [color]="getProgressColorMusicianPercentageAssistEvents(eventListResponse.musicianEventAssistStatistic.musicianCurrentYearPercentageAssistEvents)"
                  class="attendance-progress">
                </ion-progress-bar>                
              </div>
            </ion-col>

            <!-- Asistencia historica -->
            <!--<ion-col size="12" size-md="4" *ngIf="eventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents>=0">-->
            <ion-col size="12" size-md="4" *ngIf="eventListResponse && eventListResponse.musicianEventAssistStatistic && showHistoricStatistics">
              <div class="statistic-container">
                <div class="stat-header">                  
                  <ion-icon name="stats-chart" class="stat-icon danger"></ion-icon>
                  <ion-text class="stat-title">Histórica</ion-text>
                  <ion-text class="stat-percentage">{{ eventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents }}%</ion-text>
                </div>
                <ion-progress-bar 
                  [value]="eventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents / 100" 
                  [color]="getProgressColorMusicianPercentageAssistEvents(eventListResponse.musicianEventAssistStatistic.musicianHistoricPercentageAssistEvents)"
                  class="attendance-progress">
                </ion-progress-bar>                
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- ESTADÍSTICAS PARA NO MUSICOS -->    
    <ion-card class="attendance-card background-white" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN') && eventListResponse && eventListResponse.events && eventListResponse.events.length>0 && eventListResponse.eventAssistStatistic && eventListResponse.eventAssistStatistic.maxDateAssitsNumber"> 
      <ion-card-header>
        <ion-card-title>Estadísticas de Ensayos</ion-card-title>
      </ion-card-header>
      <ion-card-content class="custom-ion-card-content">
        <ion-grid>
          <ion-row>
            <!-- Media de asistentes al mes -->
            <ion-col size="12" size-md="4" *ngIf="eventListResponse.eventAssistStatistic.averageAssitsPercentage !== null" class="ion-text-left">
              <div class="statistic-container">
                <div class="stat-header ion-align-items-start">                  
                  <ion-icon name="people" class="stat-icon success"></ion-icon>
                  <ion-text class="stat-title">Media Asistentes ({{ strSelectedMonth }})</ion-text>
                  <ion-text class="stat-percentage">{{ eventListResponse.eventAssistStatistic.averageAssitsPercentage }}%</ion-text>
                </div>                
              </div>
            </ion-col>

            <!-- Día con mayor asistencia -->
            <ion-col size="12" size-md="4" *ngIf="eventListResponse.eventAssistStatistic.maxDateAssitsPercentage">
              <div class="statistic-container">
                <div class="stat-header">                  
                  <ion-icon name="trending-up" class="stat-icon success"></ion-icon>
                  <ion-text class="stat-title">Mayor Asistencia ({{ formatDate(eventListResponse.eventAssistStatistic.maxDateAssitsPercentage) }})</ion-text>
                  <ion-text class="stat-percentage">{{ eventListResponse.eventAssistStatistic.maxAssitsPercentage }}%</ion-text>
                </div>               
              </div>
            </ion-col>

            <!-- Día con menor asistencia -->
            <ion-col size="12" size-md="4" *ngIf="eventListResponse.eventAssistStatistic.minDateAssitsPercentage">
              <div class="statistic-container">
                <div class="stat-header">                  
                  <ion-icon name="trending-down" class="stat-icon danger"></ion-icon>
                  <ion-text class="stat-title">Menor Asistencia ({{ formatDate(eventListResponse.eventAssistStatistic.minDateAssitsPercentage) }})</ion-text>
                  <ion-text class="stat-percentage">{{ eventListResponse.eventAssistStatistic.minAssitsPercentage }}%</ion-text>
                </div>               
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- TARJETA PARA LA LISTA DE ASISTENCIA DE MÚSICOS -->
    <ion-card class="attendance-card background-white" *ngIf="(profile === 'SUPER_ADMIN' || profile === 'ADMIN') && eventListResponse?.events?.length > 0 && eventListResponse?.musiciansAssistInformation?.length > 0"> 

      <ion-card-header (click)="toggleCard('musicians')" class="custom-ion-card-header">
        <ion-card-title class="custom-ion-card-title">
          Asistencia de Músicos ({{strSelectedMonth}})
          <ion-icon [name]="expandedCard === 'musicians' ? 'chevron-up' : 'chevron-down'" class="custom-ion-icon"></ion-icon>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="expandedCard === 'musicians'" class="custom-ion-card-content-musician-list">
        <ion-list class="ion-no-padding musician-ion-list">
          <!-- Tarjeta de cada músico -->
          <ion-card *ngFor="let musician of eventListResponse.musiciansAssistInformation" class="musician-card">
            <ion-item lines="none" class="musician-ion-item ion-no-padding">
              <ion-label class="musician-ion-label">
                <h2 class="musician-name initcap">{{ musician.name | lowercase }} {{ musician.surname | lowercase }}</h2>
              </ion-label>
              <ion-note class="musician-ion-note" slot="end" [color]="getProgressColorMusicianPercentageAssistEvents(musician.musicianPercentageAssistsRehearsal)">
                {{ musician.musicianPercentageAssistsRehearsal }}%
              </ion-note>
            </ion-item>
            <!-- Barra de Progreso -->
            <ion-progress-bar 
              [value]="musician.musicianPercentageAssistsRehearsal / 100" 
              [color]="getProgressColorMusicianPercentageAssistEvents(musician.musicianPercentageAssistsRehearsal)"
              class="musician-progress-bar">
            </ion-progress-bar>
          </ion-card>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- TARJETA PARA LA LISTA DE MARCHAS ENSAYADAS -->
    <ion-card class="attendance-card background-white" *ngIf="(profile === 'SUPER_ADMIN' || profile === 'ADMIN') && eventListResponse?.events?.length > 0 && eventListResponse?.repertoireMarchEventStatistic?.length > 0"> 

      <ion-card-header (click)="toggleCard('marches')" class="custom-ion-card-header">
        <ion-card-title class="custom-ion-card-title">
          Marchas ensayadas ({{strSelectedMonth}})
          <ion-icon [name]="expandedCard === 'marches' ? 'chevron-up' : 'chevron-down'" class="custom-ion-icon"></ion-icon>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content *ngIf="expandedCard === 'marches'" class="custom-ion-card-content-musician-list">
        <ion-list class="ion-no-padding musician-ion-list">
          <!-- Tarjeta de cada músico -->
          <ion-card *ngFor="let march of eventListResponse.repertoireMarchEventStatistic" class="musician-card">
            <ion-item lines="none" class="musician-ion-item ion-no-padding">
              <ion-avatar slot="start" class="type-avatar">
                <ion-img 
                  [src]="march.typeImage ? 'data:image/jpeg;base64,' + march.typeImage : 'data:image/jpeg;base64,' + defaultRepertoireMarchTypeImage">
                </ion-img>              
              </ion-avatar>   
              <ion-label class="musician-ion-label">
                <h2 class="musician-name initcap">{{ march.marchName | lowercase }} </h2>
              </ion-label>
              <ion-note class="musician-ion-note" slot="end" [color]="getProgressColorMarchStats(march.percentage)">
                {{ march.quantity }} {{ march.quantity === 1 ? 'vez' : 'veces' }}
              </ion-note>
            </ion-item>
            <!-- Barra de Progreso -->
            <ion-progress-bar 
              [value]="march.percentage / 100" 
              [color]="getProgressColorMarchStats(march.percentage)"
              class="musician-progress-bar">
            </ion-progress-bar>
          </ion-card>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- separador -->
    <div class="spacer" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN')"></div>  
    <div class="spacer-small" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN')"></div>  
    <div class="spacer-small" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN')"></div>  
    <div class="spacer-small" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN')"></div>     
    <div class="spacer-super-small" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN')"></div>  
    <div class="spacer-super-small" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN')"></div>  
    <div class="spacer-super-small" *ngIf="(profile == 'SUPER_ADMIN' || profile == 'ADMIN')"></div>  
  </div>

  <!-------------------------->
  <!--- Vista actuaciones ---->
  <!-------------------------->
  <div *ngIf="(viewPerformance || profile==='INVITADO') && (!isTodayPerformance || (isTodayPerformance && todayPerformance.length>1))">
    
    <!--<div class="spacer-super-small"></div>  -->

    <ion-refresher slot="fixed" (ionRefresh)="refreshEventsGroupByAnyo($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <!--<ion-searchbar [(ngModel)]="filter.filter" (ionChange)="onSearchTextChanged($event)" placeholder="Buscar" class="custom-searchbar"></ion-searchbar>-->

    <div *ngIf="!isTodayPerformance" class="searchbar-container">
      <ion-searchbar 
        [(ngModel)]="filter.filter" 
        (ionChange)="onSearchTextChanged($event)" 
        placeholder="Buscar" 
        class="custom-searchbar">
      </ion-searchbar>
    
      <ion-item lines="none" class="custom-checkbox-item-old-performances">     
        <div class="custom-checkbox-item-old-performances-div">
          <ion-checkbox slot="start" [(ngModel)]="oldPerformances" (ionChange)="onOldPerformancesChanged($event)" class="custom-checkbox-old-performances"></ion-checkbox>
          <ion-label>Actuaciones anteriores</ion-label>
        </div>   
      </ion-item>
    </div>

    <!-- Mensaje vistoso cuando no hay datos -->
    <div *ngIf="finishSearchEvents && (!eventsGroupByAnyo || eventsGroupByAnyo.length==0)" class="no-data-container">
      <div class="spacer"></div>   
      <ion-icon name="alert-circle-outline" class="no-data-icon"></ion-icon>
      <p class="no-data-text">No existen actuaciónes para las próximas fechas.<br/><br/>Si quiere ver el histórico de actuaciones <br/> marque el check situado en la parte superior.</p>     
      <div class="spacer"></div>   
      <div class="spacer"></div> 
    </div>
    
    <ion-accordion-group #accordionGroup [multiple]="true" [value]="expandAnyoList" (ionChange)="accordionGroupChange($event)">

      <ion-list *ngFor="let eventGroupByAnyo of eventsGroupByAnyo; trackBy: trackByAnyoFn" class="ion-no-padding background-transparent" >

        <ion-accordion value="{{ eventGroupByAnyo.anyo}}" >

          <!---------------------------->
          <!-- Repite para cada anyo --->
          <!---------------------------->
          <ion-item slot="header" >                   
            <ion-item-divider class="ion-no-padding anyo-header">
              <ion-avatar slot="start" class="anyo-avatar">
                <ion-img 
                  [src]="'data:image/jpeg;base64,' + defaultAnyoImage"                  
                >
                </ion-img>              
              </ion-avatar>
              <ion-label class="anyo-header-label">
                {{ eventGroupByAnyo.anyo }}
              </ion-label>  
              <!--<div class="voice-header-buttons" class="anyo-header-div-fab" > 
                <ion-fab-button fill="solid" color="tertiary" size="small" class="performance-header-fab-text">
                  {{ eventGroupByAnyo.events ? eventGroupByAnyo.events.length:0 }}
                </ion-fab-button>                
              </div>              -->
            </ion-item-divider>
          </ion-item>

          <!--------------------------------->
          <!------ Para cada actuacion ------>
          <!--------------------------------->
          <div class="div-accordion-padding" slot="content">
            <ion-item-sliding *ngFor="let performance of eventGroupByAnyo.events; trackBy: trackByPerformanceFn" #performanceSliding>
              <ion-card 
                class="performance-card background-white"
                (click)="profile !== 'SUPER_ADMIN' && profile !== 'ADMIN' ? showModalAssistanceMusician(performance) : null"
              >
                <ion-item lines="none" class="performance-ion-item">
                  <ion-avatar slot="start" class="performance-avatar">                  
                    <ion-img 
                      [src]="performance.image ? 'data:image/jpeg;base64,' + performance.image : 'data:image/jpeg;base64,' + defaultEventImage"
                      (click)="profile === 'SUPER_ADMIN' || profile === 'ADMIN' ? viewPerformanceImage(performance) : null"
                    >
                    </ion-img>                              
                  </ion-avatar>
                  <ion-label class="performance-card-label">
                    <p class="performance-name">{{ performance.title }}</p>                                       
                    <p class="performance-email">{{ getMunicipalityProvinceAndLocation(performance) }}</p>
                    <p class="performance-email">{{ performance.date | date: 'dd-MM-yyyy'}} ({{ performance.startTime}} - {{ performance.endTime}})</p>
                  </ion-label>
                  <ion-icon 
                    *ngIf="(profile=='MUSICO')"
                    [name]="performance.musicianAssist ? 'checkmark-circle' : 'close-circle'" 
                    [ngClass]="{'assist-icon': performance.musicianAssist, 'notAssist-icon': !performance.musicianAssist}">
                  </ion-icon>
                </ion-item>
              </ion-card> 
              
              <ion-item-options *ngIf="(profile=='SUPER_ADMIN' || profile=='ADMIN')">
                <ion-item-option class="custom-item-option" *ngIf="profile=='SUPER_ADMIN' && performance.googleId && performance.googleId!==''"  color="attach-custom" (click)="showEventAttach(performance, performanceSliding)" >
                  <div class="option-content">
                    <ion-icon class="large-icon" color="light" slot="icon-only" name="attach-outline"></ion-icon>
                    <span class="option-text">Attach</span>
                  </div>                  
                </ion-item-option>   
                <ion-item-option class="custom-item-option" *ngIf="performance.performanceType!=='CONCIERTO'" color="route-custom" (click)="showEventRoute(performance, performanceSliding)" >
                  <div class="option-content">
                    <ion-icon class="large-icon" color="light" slot="icon-only" name="map-outline"></ion-icon>
                    <span class="option-text">Itine.</span>
                  </div>                  
                </ion-item-option>   
                <ion-item-option class="custom-item-option" color="formation-custom" (click)="showFormationRepertoire(performance, performanceSliding)" >
                  <div class="option-content">
                    <ion-icon class="large-icon" color="light" slot="icon-only" name="keypad-outline"></ion-icon>
                    <span class="option-text">Forma.</span>
                  </div>                  
                </ion-item-option>   
                <ion-item-option class="custom-item-option" *ngIf="performance.performanceType!=='CONCIERTO'" color="crosshead-custom" (click)="showCrossheadEvent(performance, performanceSliding)">
                  <div class="option-content">
                    <ion-icon class="large-icon" color="light" slot="icon-only" name="receipt-outline"></ion-icon>
                    <span class="option-text">Cruceta</span>
                  </div>                  
                </ion-item-option>   
                <ion-item-option class="custom-item-option" color="tertiary" (click)="showEventRepertoire(performance, performanceSliding)" >
                  <ion-icon color="light" slot="icon-only" name="musical-notes-outline"></ion-icon>
                </ion-item-option>   
                <ion-item-option class="custom-item-option" color="success" (click)="updateMusicianAssistance(performance, performanceSliding)" >
                  <ion-icon color="light" slot="icon-only" name="checkbox-outline"></ion-icon>
                </ion-item-option>        
                <ion-item-option class="custom-item-option" color="warning" (click)="updatePerformance(performance, performanceSliding)" >
                  <ion-icon color="light" slot="icon-only" name="pencil-outline"></ion-icon>
                </ion-item-option>        
                <ion-item-option color="danger"  class="rounded-right custom-item-option" (click)="confirmDeletePerformance(performance, performanceSliding)">
                  <ion-icon color="light" slot="icon-only" name="trash-outline"></ion-icon>
                </ion-item-option>                
              </ion-item-options>
            </ion-item-sliding>
          </div>      
        </ion-accordion>
      </ion-list>   
    </ion-accordion-group>    

    <!-- separador -->
    <div class="spacer"></div>  
    <div class="spacer-small"></div>  
    <div class="spacer-small"></div>  
    <div class="spacer-small"></div>     
    <div class="spacer-super-small"></div>  
    <div class="spacer-super-small"></div>  
    <div class="spacer-super-small"></div>  
  </div>

  <!-- Botones finales -->    
  <ion-fab #fabEvents  slot="fixed" vertical="bottom" horizontal="end" *ngIf="(profile=='SUPER_ADMIN' || profile=='ADMIN') && !isTodayPerformance">
    <ion-fab-button>
      <div class="fab-content">
        <ion-icon name="apps-outline"></ion-icon>    
      </div>
    </ion-fab-button>  
  
    <ion-fab-list side="start">      
      <ion-fab-button class="buttons-fab" *ngIf="viewCalendar && (profile=='SUPER_ADMIN' || profile=='ADMIN')" color="warning" (click)="createUpdateEvent('REHEARSAL',null, null)">
        <div class="fab-content">
          <ion-icon name="duplicate-outline" class="fab-button-icon"></ion-icon>
          <span>Ensayo</span>
        </div>
      </ion-fab-button>

      <ion-fab-button class="buttons-fab" *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'" color="warning" (click)="createUpdateEvent('PERFORMANCE', null, null)">
        <div class="fab-content">
          <ion-icon name="duplicate-outline" class="fab-button-icon"></ion-icon>
          <span>Actuación</span>
        </div>
      </ion-fab-button>

      <ion-fab-button class="buttons-fab" *ngIf="viewCalendar && (profile=='SUPER_ADMIN' || profile=='ADMIN')" color="warning" (click)="openModalStatsAssintance()">
        <div class="fab-content-1">
          <ion-icon name="stats-chart-outline" class="fab-button-icon-1"></ion-icon>
          <span>Estadísticas<br/>Asistencia</span>
        </div>
      </ion-fab-button>

      <ion-fab-button class="buttons-fab" *ngIf="viewCalendar && (profile=='SUPER_ADMIN' || profile=='ADMIN')" color="warning" (click)="openModalStatsMarchs()">
        <div class="fab-content-1">
          <ion-icon name="stats-chart-outline" class="fab-button-icon-1"></ion-icon>
          <span>Estadísticas<br/>Marchas</span>
        </div>
      </ion-fab-button>

      <ion-fab-button class="buttons-fab" *ngIf="viewPerformance && (profile=='SUPER_ADMIN' || profile=='ADMIN')" color="warning" (click)="expandAll()">
        <div class="fab-content">
          <ion-icon name="chevron-expand-outline" class="fab-button-icon"></ion-icon>
          <span>Expandir</span>
        </div>
      </ion-fab-button>

      <ion-fab-button class="buttons-fab" *ngIf="viewPerformance && (profile=='SUPER_ADMIN' || profile=='ADMIN')" color="warning" (click)="collapseAll()">
        <div class="fab-content">
          <ion-icon name="chevron-collapse-outline" class="fab-button-icon"></ion-icon>
          <span>Contraer</span>
        </div>
      </ion-fab-button>

    </ion-fab-list>
  </ion-fab>

  <!------------------------------------------------->
  <!--- Vista TodayPerformande 1 unica actuacion ---->
  <!------------------------------------------------->
  <div *ngIf="isTodayPerformance && todayPerformance.length==1 && eventToday">
    <!-- IMAGEN PARA LA VISTA MUSICO -->
    <div 
      *ngIf="eventToday.image"
      class="guest-event-image-container"      
    >
      <img        
        [src]="'data:image/jpeg;base64,' + eventToday.image"
        class="guest-event-image"
        (load)="onImageLoad()"
        [hidden]="loading"
        (click)="openEventImage($event,eventToday)"
      />
    </div>

    <div class="fab-container">

      <ion-fab-button *ngIf="profile!=='INVITADO' && profile!=='MUSICO'"  class="buttons-fab"  (click)="updateMusicianAssistance(eventToday, null)">
        <div class="fab-content">
          <ion-icon name="checkbox-outline" class="fab-button-icon"></ion-icon>
          <span>Asistencia</span>
        </div>
      </ion-fab-button>  

      <ion-fab-button *ngIf="profile!=='INVITADO' && profile==='MUSICO'"  class="buttons-fab"  (click)="showModalMusicianAssistanceEvent(eventToday)">
        <div class="fab-content">
          <ion-icon name="checkbox-outline" class="fab-button-icon"></ion-icon>
          <span>Asistencia</span>
        </div>
      </ion-fab-button>  

      <ion-fab-button class="buttons-fab"  (click)="showEventRepertoire(eventToday, null)">
        <div class="fab-content">
          <ion-icon name="musical-notes-outline" class="fab-button-icon"></ion-icon>
          <span>Repertorio</span>
        </div>
      </ion-fab-button>      

      <ion-fab-button *ngIf="profile!=='INVITADO'" class="buttons-fab" (click)="showCrossheadEvent(eventToday, null)">
        <div class="fab-content">
          <ion-icon name="receipt-outline" class="fab-button-icon"></ion-icon>
          <span>Cruceta</span>
        </div>
      </ion-fab-button>     

      <ion-fab-button *ngIf="profile!=='INVITADO'" class="buttons-fab" (click)="showFormationRepertoire(eventToday, null)">
        <div class="fab-content">
          <ion-icon name="keypad-outline" class="fab-button-icon"></ion-icon>
          <span>Formatión</span>
        </div>
      </ion-fab-button>     

      <ion-fab-button class="buttons-fab" (click)="showEventRoute(eventToday, null)">
        <div class="fab-content">
          <ion-icon name="map-outline" class="fab-button-icon"></ion-icon>
          <span>Itinerario</span>
        </div>
      </ion-fab-button>     
    </div>

    <div class="guest-event-details-container" 
         *ngIf="!eventToday.image || imageLoaded"        
    >
      <!-- TITLE -->
      
        <ion-item class="ion-margin-start ion-no-margin-end ion-no-padding background-transparent height-item no-pointer">
          <ion-label color="primary" position="floating">
              Título
          </ion-label>
          <ion-icon name="document-text-outline" slot="end" class="custom-icon-2"></ion-icon>      
          <ion-input                                                        
                autocomplete="title"       
                name="title"
                type="text"
                [(ngModel)]="eventToday.title"                                                               
          >
          </ion-input>
        </ion-item>
     
  
      <!-- FECHA -->
      <ion-item class="ion-margin-start ion-no-margin-end ion-no-padding background-transparent custom-item no-pointer">
        <ion-label color="primary" class="custom-label">Fecha</ion-label>
  
        <ion-datetime-button slot="end" datetime="datetime-event-today" color="primary" class="custom-datetime-button"></ion-datetime-button>      
  
        <ion-icon name="calendar-outline" slot="end" class="custom-icon"></ion-icon>
  
        <ion-modal #modalDate [keepContentsMounted]="true"> 
          <ng-template>
            <ion-datetime 
                id="datetime-event-today" 
                name="datetime-event-today" 
                presentation="date"
                [(ngModel)]="eventToday.date"
                [ngModelOptions]="{standalone: true}"              
                [showDefaultButtons]="true"
                readonly
                [firstDayOfWeek]="1"
                required
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>              
      </ion-item>
  
      <!-- HORA DE INICIO -->
      <ion-item class="ion-margin-start ion-no-margin-end ion-no-padding background-transparent custom-item no-pointer">
        <ion-label color="primary" class="custom-label">Hora inicio</ion-label>
  
        <ion-datetime-button slot="end" datetime="time-start-event-today" color="primary" class="custom-datetime-button"></ion-datetime-button>      
  
        <ion-icon name="time-outline" slot="end" class="custom-icon"></ion-icon>
  
        <ion-modal #modalTimeStart [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime 
              id="time-start-event-today" 
              name="time-start-event-today" 
              presentation="time"
              [(ngModel)]="eventToday.startTime"
              [ngModelOptions]="{standalone: true}"              
              [showDefaultButtons]="true"
              minuteValues="0,15,30,45"
              doneText="Aceptar"
              cancelText="Cancelar"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>              
      </ion-item>
  
      <!-- HORA DE FIN -->
      <ion-item class="ion-margin-start ion-no-margin-end ion-no-padding background-transparent custom-item no-pointer">
        <ion-label color="primary" class="custom-label">Hora fin</ion-label>
  
        <ion-datetime-button slot="end" datetime="time-end-event-today" color="primary" class="custom-datetime-button"></ion-datetime-button>      
  
        <ion-icon name="time-outline" slot="end" class="custom-icon"></ion-icon>
  
        <ion-modal #modalTimeEnd [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime 
              id="time-end-event-today" 
              name="time-end-event-today" 
              presentation="time"
              [(ngModel)]="eventToday.endTime"
              [ngModelOptions]="{standalone: true}"              
              [showDefaultButtons]="true"
              minuteValues="0,15,30,45"
              doneText="Aceptar"
              cancelText="Cancelar"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>              
      </ion-item>  
  
      <!-- DESCRIPCION -->    
      <ion-item lines="none" class="no-pointer">  
        <ion-label color="primary" position="stacked" class="custom-label-textarea">
          Descripción
        </ion-label>
        <ion-textarea 
            name="description"
            placeholder="Escriba aquí la descripción ..."           
            class="custom-textarea focus-style"
            minlength="1"                     
            maxlength="1000"
            required="true"
            [(ngModel)]="eventToday.description"            
        >
        </ion-textarea>
      </ion-item>
  
      <!-- UBICACION -->
      <div>
        <ion-item class="ion-margin-start ion-no-margin-end ion-no-padding background-transparent no-pointer">
          <ion-label color="primary" position="floating">
              Ubicación
          </ion-label>
          <ion-icon name="earth-outline" slot="end" class="custom-icon-2"></ion-icon>      
          <ion-input                                                        
                autocomplete="title"       
                name="title"
                type="text"
                [value]="getUbication(eventToday)" 
          >
          </ion-input>
        </ion-item>
      </div>

      <!-- HORA DE AUTOBUS -->
      <ion-item 
          *ngIf="eventToday && 
                 eventToday.displacementBus && 
                 eventToday.busData && 
                 (
                   profile=== 'SUPER_ADMIN' || 
                   profile=== 'ADMIN' || 
                   profile=== 'MUSICO'
                 )
                " 
          class="ion-margin-start ion-no-margin-end ion-no-padding background-transparent custom-item no-pointer"           
      >
        <ion-label color="primary" class="custom-label">Hora salida autobús</ion-label>

        <ion-datetime-button slot="end" datetime="time-bus-today" color="primary" class="custom-datetime-button"></ion-datetime-button>      

        <ion-icon name="time-outline" slot="end" class="custom-icon"></ion-icon>

        <ion-modal #modalTimebus [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime 
              id="time-bus-today" 
              name="time-bus-today" 
              presentation="time"
              [(ngModel)]="eventToday.busTime"
              [ngModelOptions]="{standalone: true}"              
              [showDefaultButtons]="true"
              minuteValues="0,15,30,45"
              doneText="Aceptar"
              cancelText="Cancelar"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>              
      </ion-item>

      <!-- LOCATION BUS-->
      <ion-item 
          *ngIf="eventToday && 
                 eventToday.displacementBus && 
                 eventToday.busData && 
                 (
                   profile=== 'SUPER_ADMIN' || 
                   profile=== 'ADMIN' || 
                   profile=== 'MUSICO'
                 )
                " 
          class="ion-margin-start ion-no-margin-end ion-no-padding background-transparent no-pointer"           
      >
        <ion-label color="primary" position="floating">
            Lugar salida autobús
        </ion-label>
        <ion-icon name="location-outline" slot="end" class="custom-icon"></ion-icon>      
        <ion-input                                                        
              autocomplete="locationBus"                             
              maxlength="200"
              name="locationBus"
              placeholder="Introduzca el lugar de salida del autobús"
              type="text"            
              [(ngModel)]="eventToday.busLocation"                                                 
              #busLocationInput="ngModel"            
        >
        </ion-input>
      </ion-item>

    </div>

    <div class="spacer" ></div>  
    
  </div>

</ion-content>
