.custom-modal-title {
    margin-top:16px !important;
    margin-bottom:15px;  
}

.calendar-title {
    margin: 16px 24px;
    text-align: center;
  
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      color: var(--ion-color-primary);
    }
}
  
.calendar-container {
    margin: 16px 16px;
    margin-top:10px;
    margin-bottom:10px;
    padding: 0px;
    border-radius: 5px; // Bordes redondeados
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Sombra suave para efecto de elevación
    background-color: #ffffff; // Fondo blanco para la tarjeta
    border: 1px solid #e0e0e0; // Borde sutil alrededor de la tarjeta
}

::ng-deep ion-calendar > div > ion-button {
    border-radius: 8px !important; // Bordes redondeados    
    font-weight: bold !important; // Texto en negrita    
    color: var(--ion-color-primary) !important;
}

::ng-deep ion-calendar {
    padding-top: 15px !important; 
    padding-bottom: 10px !important; 
    padding-left: 15px !important; 
    padding-right: 15px !important; 
}

::ng-deep ion-calendar > div  {
    background-color: #F0F4F8; // Fondo sutil del contenedor general del calendario
    border-radius: 12px;
    padding: 10px;
}

::ng-deep ion-calendar > ion-calendar-week > ion-toolbar {
    //background-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary) !important;
    --min-height: 35px !important;
}

::ng-deep ion-calendar > ion-calendar-week > ion-toolbar > div {
    --min-height: 35px !important;
}

::ng-deep ion-calendar > ion-calendar-week > ion-toolbar > ul {
    padding-top:15px !important;
    padding-bottom:10px !important;
}

::ng-deep ion-calendar > ion-calendar-week > ion-toolbar > ul > li {    
    color: var(--ion-color-primary) !important;    
}

.calendar-legend {   
    display: flex;
    flex-wrap: wrap;  // Permite que los elementos se dividan en varias filas
    gap: 8px; /* Espacio entre cada elemento de la leyenda */

    background: rgba(255, 255, 255, 0.4); /* Fondo blanco semitransparente */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Sombra suave */
    padding:24px;
    margin:16px;
    padding-top:18px;
    padding-bottom:14px;
    margin-top: 15px;    
    margin-bottom: 20px;
}

.legend-title {
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #FFFFFF;
    justify-content: space-between;
    color: #B22222;
    margin-top: 0px;
    margin-bottom: 14px;
    width: 100%;  // Asegura que el título ocupe toda la fila superior
}
  
.legend-item {
    display: flex;
    align-items: center;
    width: 48%; // Cada item ocupa aproximadamente la mitad del contenedor
    margin-bottom:6px;
    font-size: 0.9rem;
} 

::ng-deep .days-btn small{
    bottom: -13px !important;
}

::ng-deep .days{
    margin-bottom:15px !important;
}


/* Estilos específicos para cada tipo de ensayo */

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid;    
}


::ng-deep .ensayo-general-day {
    background-color: #FFCDD2 !important; /* Rosa claro */    
    border: 1px solid rgba(0, 0, 0, 0.15); /* Borde sutil con color gris translúcido */
}  

::ng-deep .actuacion-day {
    background-color: #CD5C5C !important; /* Granate profundo */    
    border: 1px solid rgba(0, 0, 0, 0.15); /* Borde sutil con color gris translúcido */
}

/* Ensayo con asistencia */
::ng-deep .ensayo-general-day-ok {
    background-color: #C8E6C9 !important; /* Verde claro suave, armoniza con el rosa claro */
    border: 1px solid rgba(0, 0, 0, 0.15); /* Mantén el borde gris translúcido */
}

/* Actuación con asistencia */
::ng-deep .actuacion-day-ok {
    background-color: #66BB6A !important; /* Verde profundo que armoniza con el granate */
    border: 1px solid rgba(0, 0, 0, 0.15); /* Mantén el borde gris translúcido */
}


::ng-deep .actuacion-day-ok-ko {
    background: linear-gradient(
        90deg, /* Ángulo de la mezcla */
        #CD5C5C 50%, /* Granate profundo cubre el 50% */
        #66BB6A 50% /* Verde profundo cubre el otro 50% */
    );
    color: #FFF; /* Texto en blanco para mejor contraste */
    border-radius: 4px; /* Bordes redondeados */
    border: 1px solid rgba(0, 0, 0, 0.15); /* Borde gris translúcido */
}

.buttons-fab {
    width: 50px;
    height: 45px;
    border-radius: 0%; /* Mantiene la forma circular */
    --border-radius: 8px !important;
}
  
.fab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.fab-content ion-icon {
    font-size: 1.4em; /* Ajusta el tamaño del icono */
}
  
.fab-content span {
    font-size: 0.6em; /* Tamaño del texto */
    margin-top: 4px; /* Espacio entre el icono y el texto */   
}

.fab-button-icon {
    margin-top: 1px;
}

/* Estilos para el contenedor del filtro */
.filter-container {
    padding: 0px 0px;  /* Espaciado alrededor del filtro */
    background-color: #FFFFFF; /* Fondo suave */
    border-bottom: 1px solid #e0e0e0; /* Línea separadora debajo */
    margin-bottom: 15px;
    margin-left:16px;
    margin-right:16px;
    border-radius: 5px; // Bordes redondeados
}

::ng-deep .custom-alert-width .alert-wrapper {
    width: 90% !important; /* Ajusta el ancho según lo necesites */
    max-width: 90% !important;       
}

.no-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: #888;
}
  
.no-data-icon {
    font-size: 48px;
    color: #ff9800; 
    margin-top: 10px;
    margin-bottom: 5px;
}
  
.no-data-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #333;
}


/***************************************************************************************/
.anyo-header {        
    font-size: 1.1rem; 
    font-weight: bold; 
    display: flex;
    align-items: center;   
    color: #B22222;   
    text-shadow: 1px 1px 2px #FFFFFF;  
}

.anyo-header-label {
    margin-top:10px;
}

.anyo-header ion-label {
    padding-right: 5px; 
}

.anyo-header-div-fab {
    position: absolute;
    right: 50px;
    display: flex; 
}

.anyo-header-fab {
    //border:1px solid #000000;
    //border-radius: 50%;
    width: 30px;
    height: 30px;     
}

.anyo-header-fab-icon {
    width: 15px;
    height: 15px;     
}
  
.anyo-avatar {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    //border: 1px solid #000000; 
    border-radius: 0 !important;
    //background-color: #f7f7f7; 
}
  
.anyo-avatar ion-img {
    border: 10px;
    width: 100%;
    height: 100%;
}

ion-avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

ion-accordion-group ion-item-divider {
    border: 0px solid;
    border-image-width: 0px;
}

ion-accordion ion-item[slot="header"] {
    //border-bottom: 1px solid blue; 
    --border-width: 0 0 1px 0;
    // --border-width: 1px solid blue; 
}

.div-accordion-padding {
    padding-top: 1px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.performance-header-fab-text {
    font-size: 0.7rem;
    width: 22px;
    height: 22px;   
    margin-top: 2px;  
    margin-bottom: 0px;
    margin-right: 5px;
}

.performance-total-header-fab-text {
    font-family: 'Dancing Script'; /* Fuente personalizada */    
    font-weight: bold;
    font-size: 2.0rem; /* Tamaño de la fuente */
    text-align: center; /* Centrar el texto */
    margin-top: 5px !important; /* Margen superior e inferior */
    margin-bottom: 0px; /* Margen superior e inferior */
    letter-spacing: 1px; /* Espaciado entre letras */   
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra del texto */  
}

.performance-card {
    width: calc(100% - 8px);
    max-height: 70px; 
    margin: 5px;   
    margin-top: 3px;    
    margin-bottom: 2px;    
    margin-left: 3px;       
}

.performance-ion-item {    
    --min-height: 60px !important;     
    //padding-top:3px;
    //padding-bottom:2px;
}

.performance-card-label {
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top:3px;
    margin-bottom:3px;
}

.performance-avatar {
    width: 40px;
    height: 40px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: -4px;
    border-radius: 0 !important;    
}

ion-img {
    border-radius: 0 !important;
}
  
.performance-name {
    font-size: 0.9rem !important;
    margin: 0  !important;
    color: #000000  !important;
}
  
.performance-email {
    font-size: 0.80rem;
    color: gray;
    margin: 0;
    margin-top:-2px
}
  
ion-item-options {
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: 5px;    
}

ion-item-option.rounded-right {
    border-radius: 0 4px 4px 0; /* Solo redondeado en la derecha */
}

ion-item-option {
    width: 70px;
}

.searchbar-container {
    display: flex;
    align-items: center; /* Centra verticalmente */   
    padding: 8px; /* Margen interno para darle aire */
    padding-top:0px;
    padding-right: 0px;
    margin-right: 0px;
}
  
.custom-searchbar {
    margin-top:2px;
    padding-top:0px;
    width:50%;
}
  
.custom-checkbox-item-old-performances {
    width:50%;
    margin-top:-3px;
    padding-top:0px;
    display: flex;    
    gap: 5px;    
    --ion-item-background: transparent; /* Fondo transparente */
    --ion-item-padding-start: 0; /* Elimina padding innecesario */    
    --inner-padding-end: 0px;   
    --padding-end: 0px; /* Asegúrate de que no haya espacio a la derecha */
    font-size: 0.9em;    
    color: #333333;   
    text-shadow: 1px 1px 2px #FFFFFF;        
}

.custom-checkbox-item-old-performances::part(native) {    
    padding-left: unset;    
  }

.custom-checkbox-item-old-performances-div {   
    margin-top:-3px;
    padding-left: 10px;
    padding-top: 12px;
    padding-bottom: 11px;
    width: 100%; 
    display: flex;
    //border: 1px solid var(--ion-color-step-300); /* Color del borde principal */
    //border-radius: 2px; /* Igual que el borde del ion-searchbar */
    //background-color: var(--ion-background-color, #fff); /* Fondo blanco */
    //box-shadow: 
    //    0 1px 2px rgba(0, 0, 0, 0.05), /* Sombras suaves en lados y superior */
    //    0 2px 6px rgba(0, 0, 0, 0.2); /* Sombra más definida en el borde inferior */
    //border:1px solid;
}

.custom-checkbox-old-performances {
    padding-left: 0px;
    margin-left:0px;
    margin-right:9px;    
    margin-top: 0px;
    margin-bottom: 0px;
}

.assist-icon {
    color: rgba(34, 139, 34, 0.7); /* Verde apagado */
    vertical-align: middle; 
    //padding-bottom: 4px; 
    //margin-right: 8px;
}
  
.notAssist-icon {
    color: var(--ion-color-tertiary); /* Color actual para no publicada */
    vertical-align: middle; 
    //padding-bottom: 4px; 
    //margin-right: 8px; 
}

.attendance-card {
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
    --padding-start: 0px !important; 
    --padding-end: 0px; 
}

ion-card-header {
    //--padding-bottom: 50px !important;
    padding-bottom: 0px !important;
}

.custom-ion-card-content {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}

.custom-ion-card-content-musician-list {    
    padding-top: 5px !important;
    padding-bottom: 0px !important;
}
  
.statistic-container {    
    width: 100%;
    padding: 0px;
    text-align: center; /* Centra el contenido dentro del contenedor */
}
  
.stat-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente los elementos dentro de la cabecera */
    margin-bottom: 5px;
}
  
.stat-icon {
    font-size: 24px;
    margin-right: 10px;
}
  
.stat-icon.success {
    color: var(--ion-color-success);
}
  
.stat-icon.warning {
    color: var(--ion-color-warning);
}
  
.stat-icon.danger {
    color: var(--ion-color-danger);
}
  
.stat-title {
    font-weight: bold;
    font-size: 1rem;
}

.stat-percentage {
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
    color: #000;
}
  
.attendance-progress {
    height: 15px;
    border-radius: 10px;
    transition: width 1s ease-in-out;
}
  
.percentage-text {
    margin-top: 5px;
    font-weight: bold;
    color: #000;
}
  
/* Estilos Responsivos */
@media (min-width: 768px) {
    .statistic-container {
      padding: 15px;
    }
  
    .stat-icon {
      font-size: 28px;
    }
  
    .stat-title {
      font-size: 18px;
    }
  
    .percentage-text {
      font-size: 16px;
    }
}

.musician-card {
  margin: 8px 0;
  padding: 10px;
  padding-top:0px;
  padding-bottom:5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.musician-card:hover {
  transform: translateY(-2px); /* Efecto de elevación al pasar el cursor */
}

/* Estilos del Item */
.musician-ion-item {
    --min-height: 25px !important;     
    display: flex;
    align-items: center;
    --padding-end: 0px;
    --inner-padding-end: 8px;
}

/* Etiquetas del Músico */
.musician-ion-label {
  margin-left: 8px;
  margin-top:4px;
  margin-bottom:4px;
}

.musician-name {
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
}

.musician-email {
  font-size: 0.85rem;
  color: gray;
  margin: 0;
}

/* Barra de Progreso */
.musician-progress-bar {
  margin-top: 0px;
  height: 8px;
  border-radius: 4px;
}

/* Texto del Porcentaje */
.musician-ion-note {
    font-size: 0.9rem;
    font-weight: bold;
    //color: #333333;
    padding-top:6px;
    padding-bottom:2px;
    margin-left:0px;
}

/* Responsividad */
@media (max-width: 767px) { /* Pantallas pequeñas */
  .musician-name {
    font-size: 0.9rem;
  }

  .musician-email {
    font-size: 0.75rem;
  }

  .musician-progress-bar {
    height: 6px;
  }

  .musician-ion-note {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) { /* Pantallas medianas y grandes */
  .musician-name {
    font-size: 1rem;
  }

  .musician-email {
    font-size: 0.85rem;
  }

  .musician-progress-bar {
    height: 8px;
  }

  .musician-ion-note {
    font-size: 0.9rem;
  }
}

/* Colores para la Barra de Progreso */
ion-progress-bar.color-success {
  --ion-color: var(--ion-color-success);
}

ion-progress-bar.color-warning {
  --ion-color: var(--ion-color-warning);
}

ion-progress-bar.color-danger {
  --ion-color: var(--ion-color-danger);
}

/* Ajustes para el ion-note */
.musician-ion-note {
  display: flex;
  align-items: center;
}

.initcap {
    text-transform: capitalize;
}

::ng-deep ion-item-option.ion-color-formation-custom {
    --ion-color-base: #42A5F5; /* Verde azulado */    
    --ion-color-contrast: #ffffff; /* Blanco para el ícono */
    --ion-color-shade: #1E88E5; /* Sombra */
    --ion-color-tint: #64B5F6; /* Tono claro */
}

.option-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.option-text {
    margin-top: 6px; /* Espacio entre el icono y el texto */
    font-size: 0.6rem; /* Tamaño de fuente ajustable */
    color: var(--ion-color-light); /* Ajusta el color según tus necesidades */
    font-weight: bold;
}

.large-icon {
    font-size: 1.7rem; /* Ajusta este valor para mantener el tamaño deseado */
    /* Puedes también utilizar otras unidades como 'em' o 'rem' */
}

ion-card-title {
    font-size: 1.1rem;
    margin-bottom: 0px;
    color:#000000;
}