<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="changeExpiredPassword()" #loginForm="ngForm">                    
    <h2 class="fancy-title custom-h2">
      Actualizar contraseña
    </h2>
    
    <!-- CONTRASEÑA ACTUAL -->
    <ion-item class="ion-margin-start ion-margin-end ion-no-padding background-transparent">
      <ion-label color="primary" position="floating">
          Contraseña actual
      </ion-label>
      <ion-icon 
          [name]="showCurrentPassword ? 'eye' : 'eye-off'"       
          (click)="toggleCurrentPasswordVisibility()"                
          slot="end"
          data-action="show-hide">
      </ion-icon>
      <ion-input                      
            autocomplete="currentPassword"       
            minlength="8"                                                                     
            maxlength="50"
            name="currentPassword"
            placeholder="Introduzca la contraseña actual"
            [type]="showCurrentPassword ? 'text' : 'password'"            
            required
            [(ngModel)]="changePassword.currentPassword"                                            
            #currentPasswordInput="ngModel"               
      >
      </ion-input>
    </ion-item>

    <div class="ion-margin-start ion-margin-end ion-no-padding" *ngIf="(currentPasswordInput.invalid && currentPasswordInput.touched)">      
      <ion-text color="danger" *ngIf="currentPasswordInput.errors && currentPasswordInput.errors['required']">El password actual es obligatorio.</ion-text>
      <ion-text color="danger" *ngIf="currentPasswordInput.errors && currentPasswordInput.errors['minlength']">El password actual debe tener al menos 8 caracteres.</ion-text>
      <ion-text color="danger" *ngIf="currentPasswordInput.errors && currentPasswordInput.errors['maxlength']">El password actual no puede exceder los 50 caracteres.</ion-text>
    </div>

    <!-- CONTRASEÑA NUEVA -->
    <ion-item class="ion-margin-start ion-margin-end ion-no-padding background-transparent">
      <ion-label color="primary" position="floating">
        Nueva contraseña
      </ion-label>
      <ion-icon 
          [name]="showNewPassword ? 'eye' : 'eye-off'"       
          (click)="toggleNewPasswordVisibility()"                
          slot="end"
          data-action="show-hide">
      </ion-icon>      
      <ion-input                      
          minlength="8"                           
          maxlength="50"
          name="newPassword"
          placeholder="Introduzca la nueva contraseña"
          [type]="showNewPassword ? 'text' : 'password'"          
          required="true"
          [(ngModel)]="changePassword.newPassword"
          #newPasswordInput="ngModel"      
      >
      </ion-input>
    </ion-item>

    <div class="ion-margin-start ion-margin-end ion-no-padding" *ngIf="(newPasswordInput.invalid && newPasswordInput.touched)">      
      <ion-text color="danger" *ngIf="newPasswordInput.errors && newPasswordInput.errors['required']">El password nuevo es obligatorio.</ion-text>
      <ion-text color="danger" *ngIf="newPasswordInput.errors && newPasswordInput.errors['minlength']">El password nuevo debe tener al menos 8 caracteres.</ion-text>
      <ion-text color="danger" *ngIf="newPasswordInput.errors && newPasswordInput.errors['maxlength']">El password nuevo no puede exceder los 50 caracteres.</ion-text>
    </div>

    <!-- REPETIR CONTRASEÑA NUEVA -->
    <ion-item class="ion-margin-start ion-margin-end ion-no-padding background-transparent">
      <ion-label color="primary" position="floating">
        Repetir nueva contraseña
      </ion-label>
      <ion-icon 
          [name]="showRepeatNewPassword ? 'eye' : 'eye-off'"       
          (click)="toggleNewRepeatPasswordVisibility()"                
          slot="end"
          data-action="show-hide">
      </ion-icon>     
      <ion-input                      
          minlength="8"                                                      
          maxlength="50"
          name="repeatNewPassword"
          placeholder="Repita la nueva contraseña"
          [type]="showRepeatNewPassword ? 'text' : 'password'"       
          required="true"
          [(ngModel)]="changePassword.repeatNewPassword"
          #repeatNewPasswordInput="ngModel"     
      >
      </ion-input>
    </ion-item>

    <div class="ion-margin-start ion-margin-end ion-no-padding" *ngIf="(repeatNewPasswordInput.invalid && repeatNewPasswordInput.touched)">      
      <ion-text color="danger" *ngIf="repeatNewPasswordInput.errors && repeatNewPasswordInput.errors['required']">El password nuevo repetido es obligatorio.</ion-text>
      <ion-text color="danger" *ngIf="repeatNewPasswordInput.errors && repeatNewPasswordInput.errors['minlength']">El password nuevo repetido debe tener al menos 8 caracteres.</ion-text>
      <ion-text color="danger" *ngIf="repeatNewPasswordInput.errors && repeatNewPasswordInput.errors['maxlength']">El password nuevo repetido no puede exceder los 50 caracteres.</ion-text>
    </div>
   
    <div class="spacer"></div>   
    <div class="spacer"></div>  
        
    <!---------------->
    <!-- ACTUALIZAR -->
    <!---------------->
    <ion-button 
            expand="block" 
            type="submit" 
            [disabled]="loginForm.invalid"
    >                      
        Actualizar
    </ion-button>

  </form>

</ion-content>