.custom-h2{
    margin-top: 16;
    margin-bottom:22px;
}

ion-label.ion-color-primary {
    color: #B22222;
    font-size: 1rem;
    font-weight: bold;  
    text-shadow: 1px 1px 2px #FFFFFF; /* Sombra leve */
}

.image-label {
    display: flex;
    align-items: center;
    padding-bottom:7px;
}

.custom-item {
    margin-top: 7px;  
}
  
.custom-label {
    padding-bottom: 3px;  
}