<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="confirm()" #resetPasswordForm="ngForm">    
    <!------------------------->
    <!------ DATOS MUSICO ----->
    <!------------------------->
    <h2 class="fancy-title custom-h2">
      Datos reset password
    </h2>

    <!-- PASSWORD -->
    <ion-item class="ion-margin-start ion-margin-end ion-no-padding background-transparent">
      <ion-label color="primary" position="floating">
          Password
      </ion-label>
      <ion-icon name="person-circle-outline" slot="end"></ion-icon>
      <ion-input                      
            autocomplete="password"       
            minlength="8"                     
            maxlength="200"
            name="password"
            placeholder="Introduzca el password del usuario"
            type="text"
            required="true"                      
            [(ngModel)]="resetPassword.password"                                                 
            #passwordInput="ngModel"                
      >
      </ion-input>
    </ion-item>

    <div class="ion-margin-start ion-margin-end ion-no-padding" *ngIf="(passwordInput.invalid && passwordInput.touched)">            
      <ion-text color="danger" *ngIf="passwordInput.errors && passwordInput.errors['required']">El password es obligatorio.</ion-text>
      <ion-text color="danger" *ngIf="passwordInput.errors && passwordInput.errors['minlength']">El password debe tener al menos 8 caracteres.</ion-text>
      <ion-text color="danger" *ngIf="passwordInput.errors && passwordInput.errors['maxlength']">El password no puede exceder los 50 caracteres.</ion-text>
    </div>
    
    <!-- REPEAT PASSWORD -->
    <ion-item class="ion-margin-start ion-margin-end ion-no-padding background-transparent">
      <ion-label color="primary" position="floating">
          Repeat Password
      </ion-label>
      <ion-icon name="person-circle-outline" slot="end"></ion-icon>
      <ion-input                      
            autocomplete="repeatPassword"       
            minlength="8"                     
            maxlength="200"
            name="repeatPassword"
            placeholder="Repita el password del usuario"
            type="text"
            required="true"                      
            [(ngModel)]="resetPassword.repeatPassword"                                                 
            #repeatPasswordInput="ngModel"                
      >
      </ion-input>
    </ion-item>

    <div class="ion-margin-start ion-margin-end ion-no-padding" *ngIf="(repeatPasswordInput.invalid && repeatPasswordInput.touched)">            
      <ion-text color="danger" *ngIf="repeatPasswordInput.errors && repeatPasswordInput.errors['required']">El password repetido es obligatorio.</ion-text>
      <ion-text color="danger" *ngIf="repeatPasswordInput.errors && repeatPasswordInput.errors['minlength']">El password repetido debe tener al menos 8 caracteres.</ion-text>
      <ion-text color="danger" *ngIf="repeatPasswordInput.errors && repeatPasswordInput.errors['maxlength']">El password repetido no puede exceder los 50 caracteres.</ion-text>
    </div>

    <div class="spacer"></div>   
    <div class="spacer"></div>  

    <ion-button 
          type="submit"           
          [disabled]="resetPasswordForm.invalid"
          expand="block">
        Resetear password
    </ion-button>

  </form>
</ion-content>