<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Fe y Consuelo
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content _aio-EB4C2B66>
  <ion-grid _aio-DA7BE4E8 #j_13>
      <ion-row _aio-9444608B #j_14>
          <!--<ion-col _aio-A20BDF3F #j_15 class="ion-hide-lg-down">
              <div _aio-FB01D241 #j_16>
                  © 2023 Your Company. All rights reserved.
              </div>
          </ion-col>-->
          <ion-col _aio-BD03F41E #j_17 class="ion-padding">
              <form _aio-B2B50DA2 #loginForm="ngForm" >
                  <img _aio-53A50509 #j_19 src="assets/images/companylogo.png" alt="Image error">
                  <h1 _aio-BB621D31 #j_20>
                      Datos musico
                  </h1>
                  <ion-item #j_21 _aio-B938A734 class="ion-no-padding">
                      <ion-label _aio-12ECC7C2 #j_22 color="primary" position="floating">
                          Username
                      </ion-label>
                      <ion-icon _aio-11651C45 #j_23 name="person" slot="end">
                      </ion-icon>
                      <ion-input _aio-6E0DE629 #j_24="ngModel" #j_24_el [ngModel] autocomplete="new-password"
                      maxlength="50" name="Input2" placeholder="Enter Username" type="email" required="true"
                      aioControlValidation="maxLength:50|||email" aioValidationShowMessage="true">
                      </ion-input>
                  </ion-item>
                  <ion-item #j_25 _aio-C84A83C3 class="ion-no-padding">
                      <ion-label _aio-209F87B7 #j_26 color="primary" position="floating">
                          Password
                      </ion-label>
                      <ion-input _aio-719B8F46 #j_27="ngModel" #j_27_el [ngModel] autocomplete="new-password"
                      maxlength="50" name="Input1" placeholder="Enter Password" type="password" required="true"
                      aioControlValidation="maxLength:50|||strongPassword" aioValidationShowMessage="true">
                      </ion-input>
                      <ion-icon name="eye" slot="end" data-action="show-hide">
                      </ion-icon>
                  </ion-item>
                  <a _aio-02E6CED1 #j_28>
                  Forgot Password?
                  </a>
                  <ion-item #j_29 _aio-04BC966A lines="none" class="ion-no-padding">
                      <ion-label _aio-71C7677A #j_30>
                          Remember me
                      </ion-label>
                      <ion-checkbox _aio-0E4BE2BB #j_31="ngModel" #j_31_el [ngModel]="false" name="Checkbox"
                      value="Checkbox">
                      </ion-checkbox>
                  </ion-item>
                  <ion-button _aio-BE0E4111 #j_32 
                          expand="block" 
                          type="submit" 
                   >
                      Login
                  </ion-button>
                  <div _aio-1D5473D7 #j_33>
                      <h5 _aio-0E60DEED #j_34 style="line-height: 0.1em;">
                          <span _aio-4C2BCD4E #j_35>
                              RRSS
                          </span>
                      </h5>
                  </div>
                  <ion-button _aio-E4848800 #j_36 fill="clear">
                      <ion-icon _aio-E4848800 #j_36__icon name="logo-google" slot="icon-only">
                      </ion-icon>
                  </ion-button>
                  <ion-button _aio-7AEF2D75 #j_37 fill="clear">
                      <ion-icon _aio-7AEF2D75 #j_37__icon name="logo-twitter" slot="icon-only">
                      </ion-icon>
                  </ion-button>
                  <ion-button _aio-E0182EE5 #j_38 fill="clear">
                      <ion-icon _aio-E0182EE5 #j_38__icon name="logo-tiktok" slot="icon-only">
                      </ion-icon>
                  </ion-button>
                  <ion-button _aio-9EEF92F3 #j_39 fill="clear">
                      <ion-icon _aio-9EEF92F3 #j_39__icon name="logo-facebook" slot="icon-only">
                      </ion-icon>
                  </ion-button>
                  <a _aio-C64352C1 #j_40>
                  Create Account
                  </a>
              </form>
          </ion-col>
      </ion-row>
  </ion-grid>
  <!--<aio-tester-buttons slot="fixed">
  </aio-tester-buttons>-->
</ion-content>