<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      FYC
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content class="ion-text-center padding-content " [fullscreen]="true">
    <ion-grid >
          <ion-row>        
              <ion-col class="ion-padding-top">                                
                <!-------------------->
                <!----- LOGOTIPO ----->
                <!-------------------->
                <!--<img src="assets/images/companylogo.png" alt="Logotipo">-->
                <img src="assets/images/logo.png" alt="Logotipo">
                
                <form *ngIf="!showChangeExpiredPassword && !showForgotPassword" (ngSubmit)="login()"  #loginForm="ngForm" >
                    <h1 color="primary">
                        Datos usuario
                    </h1>
                    
                    <!------------------------->
                    <!----- DATOS USUARIO ----->
                    <!------------------------->                   
                    <ion-item class="ion-no-padding background-transparent">
                        <ion-label color="primary" position="floating">
                            Usuario
                        </ion-label>
                        <ion-icon name="person" slot="end"></ion-icon>
                        <ion-input                                                        
                              autocomplete="username"       
                              minlength="5"                     
                              maxlength="50"
                              name="username"
                              placeholder="Introduzca el usuario Username"
                              type="text"
                              required="true"
                              [(ngModel)]="auth.username"                                                 
                              #usernameInput="ngModel"            
                        >
                        </ion-input>
                    </ion-item>
                    <ion-item class="ion-no-padding background-transparent">
                        <ion-label color="primary" position="floating">
                            Contraseña
                        </ion-label>
                        <ion-input 
                              autocomplete="password"
                              minlength="8"
                              maxlength="50"
                              name="password"
                              placeholder="Enter Password"                              
                              [type]="showPassword ? 'text' : 'password'"
                              required
                              [(ngModel)]="auth.password"
                              #passwordInput="ngModel"                           
                        >
                        </ion-input>                      
                        <ion-icon 
                            slot="end"                             
                            [name]="showPassword ? 'eye-off' : 'eye'"       
                            (click)="togglePasswordVisibility()"                     
                            data-action="show-hide"
                            class="toggle-password-icon"
                        >
                        </ion-icon>
                    </ion-item>                    

                    <!-- Mostrar errores -->
                    <div *ngIf="(usernameInput.invalid && usernameInput.touched)">
                        <ion-text color="danger" *ngIf="usernameInput.errors && usernameInput.errors['required']">El usuario es obligatorio.</ion-text>
                        <ion-text color="danger" *ngIf="usernameInput.errors && usernameInput.errors['minlength']">El usuario debe tener al menos 5 caracteres.</ion-text>
                        <ion-text color="danger" *ngIf="usernameInput.errors && usernameInput.errors['maxlength']">El usuario no puede exceder los 50 caracteres.</ion-text>
                    </div>

                    <div *ngIf="(usernameInput.valid) && (passwordInput.invalid && passwordInput.touched)">
                        <ion-text color="danger" *ngIf="passwordInput.errors && passwordInput.errors['required']">La contraseña es obligatoria.</ion-text>
                        <ion-text color="danger" *ngIf="passwordInput.errors && passwordInput.errors['minlength']">La contraseña debe tener al menos 8 caracteres.</ion-text>
                        <ion-text color="danger" *ngIf="passwordInput.errors && passwordInput.errors['maxlength']">La contraseña no puede exceder los 50 caracteres.</ion-text>
                    </div>

                    <div *ngIf="!(usernameInput.invalid && usernameInput.touched) && !(passwordInput.invalid && passwordInput.touched)" class="spacer-big"></div>                    
                    
                    <!-- Acceso como invitado -->
                    <a href="#" (click)="loginInvitado($event)">
                        <ion-text color="primary">
                            <h4 class="custom-h4">Acceso como invitado</h4>
                          </ion-text>                        
                    </a>        
                    
                    <!-- Remember me y olvido la contraseña -->
                    <div class="remember-forgot-container">
                        <ion-item class="ion-no-padding remember-me" lines="none">
                            <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
                            <ion-label class="label-text">Recordar usuario</ion-label>
                        </ion-item>
                        <a class="label-text-href" href="#" (click)="showForgotPasswordScreen($event)" >¿Olvidó la contraseña?</a>
                    </div>
                  

                    <!-- Olvido la contraseña -->
                    <!--<a href="#" (click)="showForgotPasswordScreen($event)">¿Olvido la contraseña?</a>    -->
                    

                    <div class="spacer-small"></div>       
                    <!--<div class="spacer"></div>   -->
                    
                    <!----------->
                    <!-- LOGIN -->
                    <!----------->
                    <ion-button 
                            expand="block" 
                            type="submit" 
                            [disabled]="loginForm.invalid"
                    >                      
                        Login
                    </ion-button>
                </form>

                <form *ngIf="showChangeExpiredPassword" (ngSubmit)="changeExpiredPassword()" #loginForm="ngForm">                    
                    <h1 color="primary">
                        Actualizar contraseña
                    </h1>
                    <!------------------------->
                    <!----- DATOS USUARIO ----->
                    <!------------------------->
                    <ion-item class="ion-no-padding background-transparent">
                        <ion-label color="primary" position="floating">
                            Contraseña actual
                        </ion-label>                        
                        <ion-input                 
                              minlength="8"                                                                     
                              maxlength="50"
                              name="currentPassword"
                              placeholder="Introduzca la contraseña actual"
                              type="password"
                              required="true"
                              [(ngModel)]="changePassword.currentPassword"
                              #currentPasswordInput="ngModel"     
                        >
                        </ion-input>
                        <ion-icon name="eye" slot="end" data-action="show-hide"></ion-icon>
                    </ion-item>
                    <ion-item class="ion-no-padding background-transparent">
                        <ion-label color="primary" position="floating">
                            Nueva contraseña
                        </ion-label>
                        <ion-input                             
                              minlength="8"                           
                              maxlength="50"
                              name="newPassword"
                              placeholder="Introduzca la nueva contraseña"
                              type="password"
                              required="true"
                              [(ngModel)]="changePassword.newPassword"
                              #newPasswordInput="ngModel"     
                        >
                        </ion-input>                      
                        <ion-icon name="eye" slot="end" data-action="show-hide"></ion-icon>
                    </ion-item>
                    <ion-item class="ion-no-padding background-transparent">
                        <ion-label color="primary" position="floating">
                            Repetir nueva contraseña
                        </ion-label>
                        <ion-input   
                              minlength="8"                                                      
                              maxlength="50"
                              name="repeatNewPassword"
                              placeholder="Repita la nueva contraseña"
                              type="password"
                              required="true"
                              [(ngModel)]="changePassword.repeatNewPassword"
                              #repeatNewPasswordInput="ngModel"     
                            >
                        </ion-input>                      
                        <ion-icon name="eye" slot="end" data-action="show-hide"></ion-icon>
                    </ion-item>

                    <!-- Mostrar errores -->
                    <div *ngIf="(currentPasswordInput.invalid && currentPasswordInput.touched)">
                        <ion-text color="danger" *ngIf="currentPasswordInput.errors && currentPasswordInput.errors['required']">La contraseña actual es obligatoria.</ion-text>
                        <ion-text color="danger" *ngIf="currentPasswordInput.errors && currentPasswordInput.errors['minlength']">La contraseña actual debe tener al menos 8 caracteres.</ion-text>
                        <ion-text color="danger" *ngIf="currentPasswordInput.errors && currentPasswordInput.errors['maxlength']">La contraseña actual no puede exceder los 50 caracteres.</ion-text>
                    </div>

                    <div *ngIf="(currentPasswordInput.valid) && (newPasswordInput.invalid && newPasswordInput.touched)">
                        <ion-text color="danger" *ngIf="newPasswordInput.errors && newPasswordInput.errors['required']">La contraseña nueva es obligatoria.</ion-text>
                        <ion-text color="danger" *ngIf="newPasswordInput.errors && newPasswordInput.errors['minlength']">La contraseña nueva debe tener al menos 8 caracteres.</ion-text>
                        <ion-text color="danger" *ngIf="newPasswordInput.errors && newPasswordInput.errors['maxlength']">La contraseña nueva no puede exceder los 50 caracteres.</ion-text>
                    </div>

                    <div *ngIf="(currentPasswordInput.valid) && (newPasswordInput.valid) && (repeatNewPasswordInput.invalid && repeatNewPasswordInput.touched)">
                        <ion-text color="danger" *ngIf="repeatNewPasswordInput.errors && repeatNewPasswordInput.errors['required']">La contraseña repetida es obligatoria.</ion-text>
                        <ion-text color="danger" *ngIf="repeatNewPasswordInput.errors && repeatNewPasswordInput.errors['minlength']">La contraseña repetida debe tener al menos 8 caracteres.</ion-text>
                        <ion-text color="danger" *ngIf="repeatNewPasswordInput.errors && repeatNewPasswordInput.errors['maxlength']">La contraseña repetida no puede exceder los 50 caracteres.</ion-text>
                    </div>

                    <div *ngIf="!(currentPasswordInput.invalid && currentPasswordInput.touched) && !(newPasswordInput.invalid && newPasswordInput.touched) && !(repeatNewPasswordInput.invalid && repeatNewPasswordInput.touched)" 
                         class="spacer-small">
                    </div>                 
                    <!--<div class="spacer-small"></div>-->
                    
                    <a href="#" (click)="volverLogin($event)">
                        <ion-text color="primary">
                            <h4 class="custom-h4">Volver</h4>
                          </ion-text>                        
                    </a>        
                    
                    <div class="spacer-small"></div>   
                    
                    <!---------------->
                    <!-- ACTUALIZAR -->
                    <!---------------->
                    <ion-button 
                            expand="block" 
                            type="submit" 
                            [disabled]="loginForm.invalid"
                    >                      
                        Actualizar
                    </ion-button>

                </form>


                <form *ngIf="showForgotPassword" (ngSubmit)="doResetPassword()" #loginForm="ngForm">                    
                    <h1 color="primary">
                        Resetear contraseña
                    </h1>

                    <!------------------------->
                    <!----- DATOS USUARIO ----->
                    <!------------------------->
                    <ion-item class="ion-no-padding background-transparent">
                        <ion-label color="primary" position="floating">
                            Usuario
                        </ion-label>
                        <ion-icon name="person" slot="end"></ion-icon>
                        <ion-input                                                        
                              autocomplete="username"       
                              minlength="5"                     
                              maxlength="50"
                              name="username"
                              placeholder="Introduzca el usuario Username"
                              type="text"
                              required="true"
                              [(ngModel)]="auth.username"                                                 
                              #resetUsernameInput="ngModel"            
                        >
                        </ion-input>
                    </ion-item>
                    
                    <!-- Mostrar errores -->
                    <div *ngIf="(resetUsernameInput.invalid && resetUsernameInput.touched)">
                        <ion-text color="danger" *ngIf="resetUsernameInput.errors && resetUsernameInput.errors['required']">El usuario es obligatorio.</ion-text>
                        <ion-text color="danger" *ngIf="resetUsernameInput.errors && resetUsernameInput.errors['minlength']">El usuario debe tener al menos 5 caracteres.</ion-text>
                        <ion-text color="danger" *ngIf="resetUsernameInput.errors && resetUsernameInput.errors['maxlength']">El usuario no puede exceder los 50 caracteres.</ion-text>
                    </div>

                    <div *ngIf="!(resetUsernameInput.invalid && resetUsernameInput.touched) " 
                         class="spacer-big">
                    </div>                                     
                    
                    <a href="#" (click)="volverLogin($event)">
                        <ion-text color="primary">
                            <h4 class="custom-h4">Volver</h4>
                          </ion-text>                        
                    </a>        
                    
                    <div class="spacer-small"></div>   
                    
                    <!---------------->
                    <!-- RESETEAR -->
                    <!---------------->
                    <ion-button 
                            expand="block" 
                            type="submit" 
                            [disabled]="loginForm.invalid"
                    >                      
                        Resetear
                    </ion-button>

                </form>

                <!-------------------->
                <!-- REDES SOCIALES -->
                <!-------------------->
                <div class="spacer"></div>          
                <div>
                    <h5 _rrss>
                        <span _rrss>
                            RRSS
                        </span>
                    </h5>
                </div>
                <ion-button  class="ion-no-margin"  fill="clear" href="https://www.facebook.com/bctfeyconsuelo" target="_blank">
                    <ion-icon name="logo-facebook" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button class="ion-no-margin" fill="clear" href="https://www.instagram.com/feyconsuelomartos?igsh=MTc3ZXhwYzZwNDVzeQ==" target="_blank">
                    <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
                </ion-button>                
                <ion-button class="ion-no-margin" fill="clear" href="https://www.tiktok.com/@bandafeyconsuelomartos?_t=8q7lxVbsjE8&_r=1" target="_blank">
                    <ion-icon  name="logo-tiktok" slot="icon-only"></ion-icon>
                </ion-button>                
                <ion-button class="ion-no-margin" fill="clear" href="https://youtube.com/@feyconsuelomartos6190?si=VsxYDgTw40p4JGqs" target="_blank">
                    <ion-icon  name="logo-youtube" slot="icon-only"></ion-icon>
                </ion-button>   
                <ion-button  class="ion-no-margin"  fill="clear" href="https://x.com/feyconsuelo?s=11&t=2tkufyNxL09yM68TKvkREQ" target="_blank">
                    <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
                </ion-button>                                        
            </ion-col>
        </ion-row>
    </ion-grid>
    <!--<aio-tester-buttons slot="fixed">
    </aio-tester-buttons>-->
</ion-content>