/* Styles properties */
form[_formLogin] {
	display: inline-block;
	width: 100%;
	max-width: 400px;
}
h5[_rrss] {
	border-style: solid;
	border-color: var(--ion-color-medium);
	margin-top: 25px;
	margin-bottom: 25px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	line-height: 0.1em;
}
span[_rrss] {
	background-color: #ffffff;
	padding-right: 10px;
	padding-left: 10px;
	color: var(--ion-color-medium);
}
.custom-h4 {
	margin-top: 10px; 
}
.toggle-password-icon {
	cursor: pointer;
	font-size: 1.2em;
	color: var(--ion-color-medium);
}

/* Estilos del checkbox "Recordar usuario y contraseña" */
.remember-forgot-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	//max-width: 400px;
	margin: 0px auto;
	text-align: center;
}
  
.remember-me {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 0px;
}

.label-text {
	font-size: 0.9rem;
	color:var(--ion-color-primary);; /* Cambia el color a rojo */
	margin-left: 8px; /* Agrega espacio entre el checkbox y el texto */
}

.label-text-href {
	font-size: 0.9rem;
	color:var(--ion-color-primary);; 
}

.login-content {
	position: relative;
	width: 100%;
	height: 100%;
  
	.background-video {
		position: fixed;  /* Fija el video al viewport */
		top: 0;
		left: 0;
		width: 100vw;  /* 100% del ancho de la ventana */
		height: 100vh; /* 100% de la altura de la ventana */
		object-fit: cover;
		opacity: 0.25;  // Ajusta el valor entre 0 y 1
		z-index: -1;
		pointer-events: none; /* Evita interacciones con el video */
		background-color: transparent !important;
		--ion-background-color: transparent !important;
	}
  
	.login-form {
	  position: relative;
	  z-index: 1;       // Coloca el formulario sobre el video
	  color: #fff;      // Cambia el color del texto para que sea legible
	  padding: 20px;
  
	  h1 {
		text-align: center;
		margin-bottom: 20px;
	  }
	}
}


.background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f0f0f0;;
	z-index: -2; 
}
