<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Mi lista de la compra
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- formulario de login -->
  <form *ngIf="!showCreateForm" (ngSubmit)="login()"> 
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input 
            type="email"
            name="email"
            [(ngModel)]="auth.email"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input 
            type="password"
            name="password"
            [(ngModel)]="auth.password"
      >
      </ion-input>
    </ion-item>

    <ion-button type="submit" expand="block"> login </ion-button>

    <div class="ion-text-center ion-padding">
      <span (click)="onShowCreateForm()">¿No tienes cuenta? Registrate</span>
    </div>
  </form>

  <!-- formulario de creacion de usuario -->
  <form *ngIf="showCreateForm" (ngSubmit)="createAccount()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input 
            name="name"
            type="text"
            [(ngModel)]="user.name"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input 
            type="text"
            name="surname"
            [(ngModel)]="user.surname"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Género</ion-label>
      <ion-radio-group 
            type="text"
            name="genre"
            [(ngModel)]="user.genre"
      >
        <ion-item>
            <ion-label>Hombre</ion-label>
            <ion-radio slot="end" value="Hombre"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Mujer</ion-label>
          <ion-radio slot="end" value="Mujer"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Otro</ion-label>
          <ion-radio slot="end" value="Otro"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input 
            type="email"
            name="email"
            [(ngModel)]="user.email"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input 
            type="password"
            name="password"
            [(ngModel)]="user.password"
      >
      </ion-input>
    </ion-item>

    <ion-button type="submit" expand="block"> Crear usuario </ion-button>

    <div class="ion-text-center ion-padding">
      <span (click)="onShowCreateForm()">Volver</span>
    </div>
  </form>
</ion-content>
