<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="confirm()" #inventaryForm="ngForm">    

    <!-------------------------------->
    <!------ DATOS INVENTARIO -------->
    <!-------------------------------->
    <h2 class="fancy-title custom-modal-title">
      Inventario Musico
    </h2>

    <!-- MUSICO -->    
    <ion-card class="musician-card background-white">
      <ion-item lines="none">
        <ion-avatar slot="start" class="musician-avatar">                  
          <ion-img 
            [src]="showImage">
          </ion-img> 
        </ion-avatar>
        <ion-label>
          <h2>{{ musician.name }} {{ musician.surname }}</h2>
          <p>{{ musician.voice.name }}</p>          
        </ion-label>
      </ion-item>
    </ion-card> 
  
    <!-- ELEMENTOS INVENTARIO -->    
    <ion-item *ngFor="let inventory of musicianInventories" class="custom-ion-item-musician-inventory">                  
      <ion-avatar slot="start" class="musician-inventory-avatar">
        <ion-img 
                [src]="inventory.image ? 'data:image/jpeg;base64,' + inventory.image : 'data:image/jpeg;base64,' + defaultInventoryImage">
        </ion-img>  
      </ion-avatar>
      <ion-label class="custom-label-musician-inventory">
        <h2>{{inventory.name}}</h2>        
      </ion-label>     
      <ion-checkbox (ionChange)="associateDisassociateMusicianInventory(musician.id,inventory)" [checked]="inventory.assigned" class="custom-inventory-check"> </ion-checkbox>      
    </ion-item>

    <!-- OBVSERVACIONES -->   
    <div class="spacer-super-small"></div>  

    <ion-item lines="none" class="custom-ion-item-musician-inventory-observations">  
      <ion-label color="primary" class="custom-label-textarea">
        Observaciones
      </ion-label>
      <ion-fab-button 
        fill="clear" 
        color="warning" 
        size="small" 
        class="observations-fab"
        (click)="saveObservations()">
        <ion-icon name="save-outline" class="observations-fab-icon"></ion-icon>
      </ion-fab-button>
    </ion-item>
    <ion-item lines="none" class="custom-ion-item-musician-inventory-observations-text-area">  
      <ion-textarea 
          name="observations"
          placeholder="Escriba aquí las observaciones sobre el inventario de este músico ..."           
          class="custom-textarea"
          minlength="1"                     
          maxlength="1000"         
          [(ngModel)]="musician.inventoryObservations"            
      >
      </ion-textarea>
    </ion-item>
        
    <div class="spacer"></div>  

    <ion-button 
          type="submit"           
          [disabled]="inventaryForm.invalid"
          expand="block">
          Volver
    </ion-button>

  </form>
</ion-content>