<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>   
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <div class="spacer-super-small"></div>    

  <ion-refresher slot="fixed" (ionRefresh)="refreshMusicians($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="filter.name" (ionChange)="onSearchTextChanged($event)" placeholder="Buscar"></ion-searchbar>
  
  <ion-accordion-group #accordionGroup [multiple]="true" [value]="expandVoiceList" (ionChange)="accordionGroupChange($event)">

    <ion-list *ngFor="let musicianGroupByVoice of musiciansGroupByVoice; trackBy: trackByVoiceFn" class="ion-no-padding background-transparent" >

      <ion-accordion value="{{ musicianGroupByVoice.voice.id }}" >

        <!---------------------------->
        <!-- Repite para cada voice -->
        <!---------------------------->
        <ion-item slot="header" >                   
          <ion-item-divider class="ion-no-padding voice-header">
            <ion-avatar slot="start" class="voice-avatar">
              <ion-img 
                [src]="musicianGroupByVoice.voice.image ? 'data:image/jpeg;base64,' + musicianGroupByVoice.voice.image : 'data:image/jpeg;base64,' + defaultVoiceImage">
              </ion-img>              
            </ion-avatar>
            <ion-label class="voice-header-label">
              {{ musicianGroupByVoice.voice.name }}
            </ion-label>    
            <div class="voice-header-buttons" class="voice-header-div-fab" > 
              <ion-fab-button fill="solid" color="tertiary" size="small" class="musician-header-fab-text">
                {{ musicianGroupByVoice.musicians ? musicianGroupByVoice.musicians.length:0 }}
              </ion-fab-button>  
              <ion-fab-button fill="clear" color="warning" size="small" (click)="updateVoice($event,musicianGroupByVoice.voice)" class="voice-header-fab">
                <ion-icon name="pencil-outline" class="voice-header-fab-icon"></ion-icon>        
              </ion-fab-button>   
              <ion-fab-button *ngIf="!musicianGroupByVoice.musicians" fill="clear" color="warning" size="small" (click)="confirmDeleteVoice($event,musicianGroupByVoice.voice)" class="voice-header-fab">
                <ion-icon name="trash-outline" class="voice-header-fab-icon"></ion-icon>        
              </ion-fab-button>                             
            </div>
          </ion-item-divider>
        </ion-item>


        <!---------------------------->
        <!---- Para cada musician ---->
        <!---------------------------->
        <div class="div-accordion-padding" slot="content">
          <ion-item-sliding *ngFor="let musician of musicianGroupByVoice.musicians; trackBy: trackByMusicianFn" #musicianSliding>
            <ion-card class="musician-card background-white">
              <ion-item lines="none" class="musician-ion-item">
                <ion-avatar slot="start" class="musician-avatar">                  
                  <ion-img 
                    [src]="musician.image ? 'data:image/jpeg;base64,' + musician.image : 'data:image/jpeg;base64,' + defaultMusicianImage">
                  </ion-img>                              
                </ion-avatar>
                <ion-label class="musician-card-label">
                  <p class="musician-name">{{ musician.name }} {{ musician.surname }}</p>                  
                  <p class="musician-email">{{ musician.email?musician.email:'Sin email'  }}</p>
                </ion-label>
                
                <!-- botyon ensayo diario -->                
                <div *ngIf="musician.idLastRehearsal" class="musician-header-div-fab"> 
                  <div *ngIf="musician.assistLastRehearsal" fill="solid" color="success" class="musician-rehearsal-fab-success" (click)="updateMusicianRehearsal(musician)">
                    <div class="fab-text">
                      <span class="fab-line">ENSAYO</span>
                      <span class="fab-line">{{ musician.dateLastRehearsal | date: 'dd-MM-yyyy' }}</span>
                    </div>
                  </div>
                  <div *ngIf="!musician.assistLastRehearsal" fill="solid" color="danger" class="musician-rehearsal-fab-danger" (click)="updateMusicianRehearsal(musician)">
                    <div class="fab-text">
                      <span class="fab-line">ENSAYO</span>
                      <span class="fab-line">{{ musician.dateLastRehearsal | date: 'dd-MM-yyyy' }}</span>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-card> 
            
            <ion-item-options>
              <ion-item-option color="calendar-custom" (click)="manageMusicianEvent(musician, musicianSliding)" >
                <ion-icon color="light" slot="icon-only" name="calendar-outline"></ion-icon>
              </ion-item-option>   
              <ion-item-option color="tertiary" (click)="manageMusicianInventary(musician, musicianSliding)" >
                <ion-icon color="light" slot="icon-only" name="shirt-outline"></ion-icon>
              </ion-item-option>   
              <ion-item-option *ngIf="profile=='SUPER_ADMIN'" color="success" (click)="asignPartituresMusician(musician, musicianSliding)" >
                <ion-icon color="light" slot="icon-only" name="albums-outline"></ion-icon>
              </ion-item-option>        
              <ion-item-option color="warning" (click)="updateMusician(musician, musicianSliding)" >
                <ion-icon color="light" slot="icon-only" name="pencil-outline"></ion-icon>
              </ion-item-option>        
              <ion-item-option color="danger"  class="rounded-right" (click)="confirmDeleteMusician(musician, musicianSliding)">
                <ion-icon color="light" slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>          
      </ion-accordion>
    </ion-list>   
  </ion-accordion-group>    

  <!-- separador -->
  <div class="spacer"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>     
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  

  <!-- botones finales -->    
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-right: 70px;">
    <ion-fab-button>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>  
  
    <ion-fab-list side="start">
      <ion-fab-button color="warning" (click)="createMusician()">
        <ion-icon name="person-add-outline"></ion-icon>        
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="createVoice()">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="expandAll()">
        <ion-icon name="chevron-expand-outline"></ion-icon>        
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="collapseAll()">
        <ion-icon name="chevron-collapse-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button fill="solid" color="success"  class="musician-total-header-fab-text">
      {{totalMusicians}}
    </ion-fab-button>   
  </ion-fab>

</ion-content>
