<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>   
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <div class="spacer-super-small"></div>  

  <ion-refresher slot="fixed" (ionRefresh)="refreshUsers($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="filter.filter" (ionChange)="onSearchTextChanged($event)" placeholder="Buscar"></ion-searchbar>

  
  <ion-accordion-group #accordionGroup [multiple]="true" [value]="expandRoleList" (ionChange)="accordionGroupChange($event)">

    <ion-list *ngFor="let userGroupByRole of usersGroupByRole; trackBy: trackByRoleFn" class="ion-no-padding background-transparent" >

      <ion-accordion value="{{ userGroupByRole.role }}" >

        <!---------------------------->
        <!-- Repite para cada role -->
        <!---------------------------->
        <ion-item slot="header" >                   
          <ion-item-divider class="ion-no-padding role-header">
            <ion-avatar slot="start" class="role-avatar">
              <ion-img 
                [src]="'data:image/jpeg;base64,' + defaultRoleImage">
              </ion-img>              
            </ion-avatar>
            <ion-label class="role-header-label">
              {{ userGroupByRole.roleName }}
            </ion-label>  
            <div class="voice-header-buttons" class="role-header-div-fab" > 
              <ion-fab-button fill="solid" color="tertiary" size="small" class="user-header-fab-text">
                {{ userGroupByRole.users ? userGroupByRole.users.length:0 }}
              </ion-fab-button>                
            </div>              
          </ion-item-divider>
        </ion-item>


        <!---------------------------->
        <!------ Para cada user ------>
        <!---------------------------->
        <div class="div-accordion-padding" slot="content">
          <ion-item-sliding *ngFor="let user of userGroupByRole.users; trackBy: trackByUserFn" #userSliding>
            <ion-card class="user-card background-white">
              <ion-item lines="none" class="ion-no-padding user-ion-item">
                <div class="avatar-container">
                  <ion-avatar class="user-avatar">                  
                    <ion-img 
                      [src]="user.userDetail.image ? 'data:image/jpeg;base64,' + user.userDetail.image : 'data:image/jpeg;base64,' + defaultUserImage">
                    </ion-img>                              
                  </ion-avatar>
                  <!-- Punto Verde Indicador -->
                  <div *ngIf="user.userDetail.appInstalled && user.userDetail.accessLastHours" class="installed-dot installed-and-access-color"></div>
                  <div *ngIf="user.userDetail.appInstalled && !user.userDetail.accessLastHours" class="installed-dot installed-and-not-access-color"></div>
                  <div *ngIf="!user.userDetail.appInstalled" class="installed-dot not-installed-color"></div>
                </div>               
                <ion-label class="user-card-label">
                  <p class="user-name">{{ user.username }}    ({{ user.userDetail.name }} {{ user.userDetail.surname }})</p>
                  <p class="user-email">{{ user.userDetail.email?user.userDetail.email:'Sin email'  }} {{ getUserLastAccess(user.userDetail) }}</p>
                </ion-label>
              </ion-item>
            </ion-card> 
            
            <ion-item-options>
              <!--<ion-item-option color="tertiary" (click)="manageMusicianInventary(musician, musicianSliding)" >
                <ion-icon color="light" slot="icon-only" name="shirt-outline"></ion-icon>
              </ion-item-option>   
              -->
              <ion-item-option *ngIf="profile=='SUPER_ADMIN'" color="tertiary" (click)="resetPassword(user, userSliding)" >
                <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>                
              </ion-item-option>   
              <ion-item-option *ngIf="profile=='SUPER_ADMIN'" color="success" (click)="asignPartituresUser(user, userSliding)" >
                <ion-icon color="light" slot="icon-only" name="albums-outline"></ion-icon>
              </ion-item-option>        
              <ion-item-option color="warning" (click)="updateUserOrMusician(user, userSliding)" >
                <ion-icon color="light" slot="icon-only" name="pencil-outline"></ion-icon>
              </ion-item-option>        
              <ion-item-option color="danger"  class="rounded-right" (click)="confirmDeleteUser(user, userSliding)">
                <ion-icon color="light" slot="icon-only" name="trash-outline"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>        
      </ion-accordion>
    </ion-list>   
  </ion-accordion-group>    

  <!-- separador -->
  <div class="spacer"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>     
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  

  <!-- botones finales -->    
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" style="margin-right: 70px;">
    <ion-fab-button>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>  
  
    <ion-fab-list side="start">
      <ion-fab-button color="warning" (click)="createUser()">
        <ion-icon name="person-add-outline"></ion-icon>        
      </ion-fab-button>      
      <ion-fab-button color="warning" (click)="expandAll()">
        <ion-icon name="chevron-expand-outline"></ion-icon>        
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="collapseAll()">
        <ion-icon name="chevron-collapse-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button fill="solid" color="success"  class="user-total-header-fab-text">
      {{totalUsers}}
    </ion-fab-button>   
  </ion-fab>

</ion-content>
