.role-header {        
    font-size: 0.92rem; 
    font-weight: bold; 
    display: flex;
    align-items: center;   
    color: #B22222;   
    text-shadow: 1px 1px 2px #FFFFFF;  
}

.role-header-label {
    margin-top:10px;
}

.role-header ion-label {
    padding-right: 5px; 
}

.role-header-div-fab {
    position: absolute;
    right: 50px;
    display: flex; 
}

.role-header-fab {
    //border:1px solid #000000;
    //border-radius: 50%;
    width: 30px;
    height: 30px;     
}

.role-header-fab-icon {
    width: 15px;
    height: 15px;     
}
  
.role-avatar {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #000000; 
    border-radius: 0 !important;
    background-color: #f7f7f7; 
}
  
.role-avatar ion-img {
    border: 10px;
    width: 100%;
    height: 100%;
}

ion-avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.user-card {
    width: calc(100% - 8px);
    max-height: 70px; 
    margin: 5px;   
    margin-top: 3px;    
    margin-bottom: 2px;    
    margin-left: 3px;       
}

.user-ion-item {    
    --min-height: 38px !important;     
    //padding-top:3px;
    //padding-bottom:2px;
    margin-left:10px;
}

.user-card-label {
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top:3px;
    margin-bottom:3px;
}

/*.user-avatar {
    width: 30px;
    height: 30px;
    margin-top:0px;
    margin-bottom:0px;
    margin-left: -4px;
}*/

.avatar-container {
    position: relative; /* Establece un contexto para el posicionamiento absoluto del punto verde */
    display: inline-block; /* Asegura que el contenedor ocupe solo el espacio necesario */
    margin-top:1px;
    margin-right:15px;
  }
  
  /* Punto Verde Indicador */
  .installed-dot {
    position: absolute;
    bottom: 0; /* Posiciona el punto en la parte inferior */
    right: 0; /* Posiciona el punto a la derecha */
    width: 12px; /* Ancho del punto */
    height: 12px; /* Alto del punto */    
    border: 2px solid white; /* Borde blanco para resaltar el punto sobre el avatar */
    border-radius: 50%; /* Hace que el punto sea perfectamente circular */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Opcional: Añade una sombra sutil para mayor visibilidad */
  }

  .not-installed-color {
    //background-color: #FF3B30; /* Rojo brillante para indicar error/falta de instalación */
    // ponme un rojo mas oscuro
    background-color: #B22222;
  }

  .installed-and-access-color {
    background-color: #34C759; /* Verde brillante para indicar éxito/instalación */
  }

  .installed-and-not-access-color {
    background-color: #FF9500; /* Naranja brillante para indicar advertencia/instalación pero sin acceso */
  }
  
  /* Ajustar el tamaño del avatar si es necesario */
  .user-avatar {
    width: 30px;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    
    /* Opcional: Asegura que las imágenes sean circulares */
    //border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
  }
  
.user-name {
    font-size: 0.9rem !important;
    margin: 0  !important;
    color: #000000  !important;
}
  
.user-email {
    font-size: 0.80rem;
    color: gray;
    margin: 0;
    margin-top:-2px
}
  
ion-item-options {
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: 5px;    
}

ion-item-option.rounded-right {
    border-radius: 0 4px 4px 0; /* Solo redondeado en la derecha */
}

ion-item-option {
    width: 50px;
}

ion-accordion-group ion-item-divider {
    border: 0px solid;
    border-image-width: 0px;
}

ion-accordion ion-item[slot="header"] {
    //border-bottom: 1px solid blue; 
    --border-width: 0 0 1px 0;
    // --border-width: 1px solid blue; 
}

.div-accordion-padding {
    padding-top: 1px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.user-header-fab-text {
    font-size: 0.7rem;
    width: 22px;
    height: 22px;   
    margin-top: 2px;  
    margin-bottom: 0px;
    margin-right: 5px;
}

.user-total-header-fab-text {
    font-family: 'Dancing Script'; /* Fuente personalizada */    
    font-weight: bold;
    font-size: 2.0rem; /* Tamaño de la fuente */
    text-align: center; /* Centrar el texto */
    margin-top: 5px !important; /* Margen superior e inferior */
    margin-bottom: 0px; /* Margen superior e inferior */
    letter-spacing: 1px; /* Espaciado entre letras */   
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /* Sombra del texto */  
}
