<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>   
    <ion-buttons slot="end">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  
  <div *ngIf="isLoading" class="custom-loading-overlay">
    <div class="custom-loading-content animated">
      <ion-spinner name="crescent" class="custom-loading-spinner"></ion-spinner>
      <p>Loading...</p>
    </div>    
  </div>

  <div class="spacer-super-small"></div>  

  <h2 *ngIf="profile=='SUPER_ADMIN'" class="fancy-title custom-modal-title">
    Grupos de partituras disponibles
  </h2>

  <h2 *ngIf="profile!='SUPER_ADMIN'" class="fancy-title custom-modal-title">
    Partituras asignadas
  </h2>
  
  <ion-refresher slot="fixed" (ionRefresh)="refreshPartitureGroups($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <ion-accordion-group #accordionGroup [multiple]="true" [value]="accordionValue" (ionChange)="accordionGroupChange($event)">

    <ion-list *ngFor="let partitureGroup of partitureGroups; trackBy: trackByPartitureGroupFn" class="ion-no-padding background-transparent" >

      <ion-accordion value="{{ partitureGroup.id }}" >

        <!------------------------------------------>
        <!-- Repite para cada grupo de partituras -->
        <!------------------------------------------>
        <ion-item slot="header" >                   
          <ion-item-divider class="ion-no-padding partiture-group-header">
            <ion-avatar slot="start" class="partiture-group-avatar">
              <ion-img 
                [src]="'data:image/jpeg;base64,' + defaultPartitureGroupImage">
              </ion-img>              
            </ion-avatar>
            <ion-label class="partiture-group-header-label">
              {{ partitureGroup.name }}
            </ion-label>    
            <div *ngIf="profile=='SUPER_ADMIN'" class="partiture-group-header-buttons" class="partiture-group-header-div-fab" > 
              <ion-fab-button fill="clear" color="warning" size="small" (click)="updatePartitureGroup($event,partitureGroup)" class="partiture-group-header-fab">
                <ion-icon name="pencil-outline" class="partiture-group-header-fab-icon"></ion-icon>        
              </ion-fab-button>   
              <ion-fab-button fill="clear" color="warning" size="small" (click)="confirmDeletePartitureGroup($event,partitureGroup)" class="partiture-group-header-fab">
                <ion-icon name="trash-outline" class="partiture-group-header-fab-icon"></ion-icon>        
              </ion-fab-button>                             
            </div>
          </ion-item-divider>
        </ion-item>


        <!---------------------------->
        <!---- Para cada partitura --->
        <!---------------------------->
        <div class="div-accordion-padding" slot="content">
          <ion-item-sliding *ngFor="let partiture of partitureGroup.partitures; trackBy: trackByPartitureFn" #partitureSliding>
            <ion-card class="partiture-card background-white">
              <ion-card-content>                
                <div>
                  <h5>{{ partiture.name }}</h5>
                  <ion-fab-button *ngIf="partiture.googleId" fill="clear" color="success" size="small" (click)="downloadPartiture(partiture)" class="partiture-header-fab">
                    <ion-icon name="eye-outline" class="partiture-header-fab-icon"></ion-icon>        
                  </ion-fab-button>                     
                </div>
              </ion-card-content>              
            </ion-card>             
          </ion-item-sliding>
        </div> 
      </ion-accordion>
    </ion-list>
  </ion-accordion-group>

  <!-- separador -->
  <div class="spacer"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>  
  <div class="spacer-small"></div>     
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  
  <div class="spacer-super-small"></div>  

  <!-- botones finales -->    
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="apps-outline"></ion-icon>
    </ion-fab-button>  
  
    <ion-fab-list side="start">
      <ion-fab-button *ngIf="profile=='SUPER_ADMIN' || profile=='ADMIN'  || profile=='MUSICO'" color="warning" (click)="requestPartitureGroup()">            
        <ion-icon name="hand-left-outline" size="small"></ion-icon>
      </ion-fab-button> 
      <!-- este solo sera para cualqueira que no sea administrador-->   
      <ion-fab-button *ngIf="profile=='SUPER_ADMIN'" color="warning" (click)="createPartitureGroup()">            
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button> 
      <ion-fab-button color="warning" (click)="collapseAll()">
        <ion-icon name="chevron-collapse-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
