<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>FeyConsuelo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>

	<key>ITSAppUsesNonExemptEncryption</key>
    <false/>

	<!-- Permisos de uso -->
    <key>NSCameraUsageDescription</key>
    <string>La aplicación necesita acceso a la cámara para tomar fotos y videos.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>La aplicación requiere acceso a tu biblioteca de fotos para seleccionar imágenes.</string>

    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>La aplicación necesita guardar imágenes en tu biblioteca de fotos.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>La aplicación necesita acceder a tu ubicación mientras la usas para ofrecerte contenido relevante.</string>

    <key>NSLocationAlwaysUsageDescription</key>
    <string>La aplicación requiere acceso continuo a tu ubicación para funciones en segundo plano.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>La aplicación requiere acceso a tu ubicación en todo momento para ofrecerte una experiencia completa.</string>

    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
    </array>

</dict>
</plist>
